/* ----------------------------------------------/
  TEMPORARY DEV STYLES
    Used to reveal core Drupal CSS structure
/ ----------------------------------------------*/
/*  _____Header _____ */
/* _____Content + Node_____ */
/* ----------------------------------------------*/
/* 00 - GLOBAL ELEMENTS
/* ----------------------------------------------*/
body {
  background: #e0edf3;
  color: #5e6568;
  font: 0.75em Arial, Helvetica, sans-serif;
  height: auto;
  line-height: 19px;
  margin: 0;
  padding: 0;
  width: auto; }

code {
  color: #0f8eb3;
  font: 1.17em Georgia, "Times New Roman", Times, serif;
  height: auto;
  margin: 0;
  padding: 0;
  width: 80%; }

pre {
  background: #f4f1ec url(images/code.gif) repeat;
  border: 1px solid #bbced7;
  color: #3e3e3e;
  font: 0.92em Georgia, "Times New Roman", Times, serif;
  line-height: 200%;
  margin: 0 auto;
  padding: 5px 20px; }

blockquote {
  background: #f8fbfc url(images/blockquote.gif) no-repeat top left;
  border: 1px solid #edeff0;
  height: auto;
  margin: 0 auto;
  padding: 5px 20px;
  width: 80%; }

img {
  margin: 0;
  padding: 0;
  border: 0; }

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #aaccee; }

div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5; }

div.error {
  color: #fff;
  background: #e63;
  border-color: #d52; }

div.status {
  color: #360;
  background: #cf8;
  border-color: #be7; }

.container {
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 940px; }

/* Columns
/* -------------- */
.main {
  width: 75%; }

.right {
  float: right;
  width: 340px; }

.main,
.left {
  float: left; }

/* Clearfix
/* -------------- */
.clearfix {
  display: inline-block; }

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* 01 - TYPOGRAPHY
/* ----------------------------------------------*/
h1 {
  margin: 0;
  padding: 0;
  font: bold 3.53em Verdana, Arial, Helvetica, sans-serif;
  color: #30393d;
  position: relative;
  display: block; }

.node-content h1 {
  margin: 10px 0;
  padding: 0;
  font: bold 2.5em Arial, Helvetica, sans-serif;
  color: #53798b; }

h1 a:link, h1 a:active, h1 a:visited {
  color: #fefefe;
  outline: 0;
  cursor: pointer; }

h1 a:hover {
  color: #d7d7d7; }

h2 {
  margin: 0;
  padding: 0;
  font: 3.13em Verdana, Arial, Helvetica, sans-serif;
  color: #b9b9b9; }

.node-content h2, .box h2, .theme-info h2 {
  margin: 10px 0;
  padding: 0;
  font: bold 2em Arial, Helvetica, sans-serif;
  color: #53798b; }

h2.slogan {
  margin: 10px 0 0 0;
  font: 0.83em Verdana, Arial, Helvetica, sans-serif;
  color: #b9b9b9; }

h3 {
  margin: 0;
  padding: 0;
  font: bold 2.8em Arial, Helvetica, sans-serif;
  color: #30393d; }

.node-content h3, #sidebar h3 {
  margin: 10px 0;
  padding: 0;
  font: bold 1.5em Arial, Helvetica, sans-serif;
  color: #53798b; }

h3 a:link, h3 a:active, h3 a:visited {
  color: #30393d; }

h3 a:hover {
  color: #54798b; }

h3.node-title {
  float: left;
  margin: 0;
  padding: 10px 0;
  /*width:450px; */
  width: 500px;
  height: auto;
  border-bottom: 4px solid #30393d;
  font: bold 2.5em Arial, Helvetica, sans-serif; }

h4, #footer h2 {
  margin: 0;
  padding: 0;
  font: bold 1.75em Arial, Helvetica, sans-serif;
  color: #fefefe; }

.node-content h4 {
  margin: 10px 0;
  padding: 0;
  font: bold 1.17em Arial, Helvetica, sans-serif;
  color: #53798b; }

#footer h4, #footer h2 {
  margin: 10px 0 20px 0; }

a:link, a:active {
  color: #f23183;
  text-decoration: none; }

a:hover {
  color: #000; }

a:visited {
  color: #f05898;
  text-decoration: none; }

p {
  margin: 0 0 1em 0; }

/* List Styles  */
ul, ol {
  margin-left: 0;
  padding-left: 2em; }

.item-list ul li {
  list-style: disc inside none; }

/* Table Styles  */
table {
  width: 99%; }

thead th {
  background: none repeat scroll 0 0 #f23183;
  border: 1px solid #e3e3e3;
  padding: 5px;
  text-align: left;
  color: #ffffff; }

tr.even, tr.odd {
  border: none; }

tr.even td, tr.odd td {
  padding: 10px 5px;
  border: 1px solid #e3e3e3; }

tr.odd {
  background-color: #ffffff; }

/* List Styles */
ul {
  list-style-type: disc; }

ul ul {
  list-style-type: circle; }

ul ul ul {
  list-style-type: square; }

ul ul ul ul {
  list-style-type: circle; }

ol {
  list-style-type: decimal; }

ol ol {
  list-style-type: lower-alpha; }

ol ol ol {
  list-style-type: decimal; }

/* Header
/* -------------- */
#navigation ul li a:link, #navigation ul li a:active, #navigation ul li a:visited {
  margin: 0;
  padding: 13px 15px;
  font: bold 1.08em Arial, Helvetica, sans-serif;
  color: #34393e;
  display: block;
  height: auto; }

#navigation ul li a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: underline; }

#navigation ul.links li.active a:link, #navigation ul.links li.active a:active, #navigation ul.links li.active a:visited {
  /* margin:-3px 0 0 0;*/
  padding: 15px 15px 14px 15px;
  background: #171615 url(images/navigation-hover.gif) repeat-x bottom center;
  color: #f1f8ff;
  position: relative; }

a.rss:link, a.rss:active, a.rss:visited, a.rss:hover {
  margin: 13px 15px 0 0;
  padding: 0;
  width: 16px;
  height: 17px;
  background: url(images/rss.png) no-repeat top center;
  text-indent: -9999px;
  display: block;
  outline: 0; }

.rss {
  margin: 0 30px 0 0;
  padding: 0;
  width: 16px;
  height: 17px;
  float: right; }

/* Main Content
/* -------------- */
.node-info {
  color: #81888d;
  font: 0.92em Georgia, "Times New Roman", Times, serif;
  text-align: right;
  /*width: 50%;*/
  /*width: 140px;*/ }

/*.node-info span { font-size:1.18em; display:block; }*/
.node-info span a:link, .node-info span a:active, .node-info span a:visited {
  color: #1e1c1a;
  text-decoration: none; }

.node-info span a:hover {
  color: #f23183; }

.node-readmore {
  float: right;
  margin-top: -19px; }

.node-category {
  color: #5E6568;
  font: bold 1.17em Georgia, "Times New Roman", Times, serif; }

.node-readmore a:link,
.node-readmore a:active,
.node-readmore a:visited,
.node-footer a,
#attachments a {
  /* font:bold italic ...; */
  font: bold 1.17em Georgia, "Times New Roman", Times, serif;
  color: #f2307f;
  /* bd4478 */ }

.node-readmore a:link {
  font-style: italic; }

.node-readmore a:hover {
  color: #bd4478; }

/* bd4478 */
.node-footer a:active, .node-readmore a:active {
  text-decoration: underline; }

/* Content Navigation
/* ------------------ */
.navigation {
  font: normal 0.92em Georgia, "Times New Roman", Times, serif;
  color: #81888d; }

.navigation a:link, .navigation a:visited, .navigation a:active {
  font: bold 0.92em Georgia, "Times New Roman", Times, serif;
  color: #656c71; }

.navigation a:hover {
  color: #35383a; }

/* Sidebar
/* -------------- */
#sidebar li {
  font: 0.92em Arial, Helvetica, sans-serif; }

#sidebar li a:link, #sidebar li a:visited, #sidebar li a:active {
  font: bold 1.17em Arial, Helvetica, sans-serif; }

#sidebar li a:hover {
  text-decoration: none; }

/* Footer
/* -------------- */
#footer {
  font: 1em Arial, Helvetica, sans-serif;
  /*0.92em*/
  color: #b2b2b2;
  line-height: 17px; }

p.copyright {
  margin: 10px 0 0 0;
  font: 0.92em Arial, Helvetica, sans-serif;
  color: #404040; }

/* 03 - HEADER
/* ----------------------------------------------*/
#header {
  margin: 0;
  padding: 0;
  width: auto;
  background: #1c1b1a;
  border-bottom: 1px solid #4a4d4c;
  clear: both; }

.banner {
  padding: 10px 0;
  text-align: center; }
  .banner a {
    color: inherit;
    text-decoration: underline; }
    .banner a:hover {
      color: #444444; }

.new-banner {
  background-color: #F98BB9;
  background-image: linear-gradient(bottom, #f875ab 35%, #f98bb9 70%);
  background-image: -o-linear-gradient(bottom, #f875ab 35%, #f98bb9 70%);
  background-image: -moz-linear-gradient(bottom, #f875ab 35%, #f98bb9 70%);
  background-image: -webkit-linear-gradient(bottom, #f875ab 35%, #f98bb9 70%);
  background-image: -ms-linear-gradient(bottom, #f875ab 35%, #f98bb9 70%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, #f875ab), color-stop(0.7, #f98bb9));
  color: #333433;
  font-size: 1.1em;
  font-weight: bold;
  padding: 11px 0; }

#logo {
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
  width: 580px; }

#searchform-header {
  background: no-repeat scroll right top transparent;
  float: right;
  height: auto;
  margin: 38px 20px 0 0;
  width: 284px; }

input#edit-search-block-form--2 {
  background: #fdfefe url(images/searchform-back.gif) no-repeat left top;
  border: 0 none;
  color: #AEA592;
  float: left;
  font-size: 0.92em;
  height: auto;
  margin: 0;
  padding: 6px 10px 5px 25px;
  width: 165px; }
  input#edit-search-block-form--2:focus {
    color: #30393d; }

#searchform-header .form-submit {
  background: transparent url(images/search.gif) no-repeat right top;
  border: 0 none;
  color: #ffffff;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 122%;
  font-weight: bold;
  margin: 0 0 0 12px;
  width: 72px; }

#searchform-header .form-item {
  display: inline; }

img#logo-image {
  padding: 0 10px 0 0; }

.social-buttons {
  float: right; }

.social-buttons a {
  float: left;
  height: 32px;
  margin-right: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 32px; }

.social-buttons a:last-child {
  margin: 0; }

/* http://dribbble.com/shots/112573-Mighty-Social-Icons */
.social-buttons .soc-fb {
  background: url("./images/social/fb_32.png"); }

.social-buttons .soc-yt {
  background: url("./images/social/yt_32.png"); }

.social-buttons .soc-rss {
  background: url("./images/social/rss_32.png"); }

/* Navigation
/* -------------- */
#navigation {
  background: white url(images/navigation.gif) repeat-x bottom center;
  border-top: 2px solid #393b3b;
  border-bottom: 1px solid white;
  font-size: 1.1em;
  margin: 0;
  padding: 0; }

#navigation ul.links {
  float: left;
  height: auto;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 880px; }

#navigation ul li {
  float: left;
  margin: 0 3px;
  overflow: visible;
  padding: 0; }
  #navigation ul li a:hover, #navigation ul li a:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #F1F8FF; }

/* 05 - MAIN
/* ----------------------------------------------*/
#main {
  background: url(images/main-content.gif) no-repeat top center;
  border-top: 1px solid #c6dee7;
  border-bottom: 10px solid #d0dce2;
  padding: 20px 0; }

/* Special ID just for the front page. Hackety hack! */
#main-front {
  background: url(images/main-content.gif) no-repeat top center;
  border-top: 1px solid #c6dee7;
  border-bottom: 10px solid #d0dce2;
  padding: 20px 0; }

#main-front > .container {
  /* Entire purpose of #main-front is so the front page can have a wider container. */
  width: 985px;
  margin-bottom: 55px; }

ul.pager {
  background-color: #DCE8EE;
  border-color: #ebf2f5 #ebf2f5 #d4e0e6;
  border-style: solid;
  border-width: 1px;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: 120%;
  font-style: italic;
  margin: 0 0 10px;
  padding: 8px 10px; }

.item-list ul li {
  margin: 0 0 0.25em 1em; }

/* Node
/* --------------- */
.field-type-taxonomy-term-reference {
  display: none; }

.node {
  margin: 0 0 25px 0; }

.node-box {
  background: #fdfefe url(images/node-box-top.gif) repeat-x top center;
  border: 1px solid #dce7ed;
  border-bottom: 1px solid #cfdbe1;
  border-top: 0;
  margin: 0;
  padding: 0; }

.node-content img {
  display: block;
  margin: 0 auto 10px;
  padding: 3px;
  border: 1px solid #e8e8e8; }

.breadcrumb {
  font: 1.2em Verdana, Arial, Helvetica, sans-serif; }

.node-meta {
  margin: 0 0 23px 0;
  padding: 0;
  border-bottom: 1px solid white;
  position: relative; }

.node-info {
  border-bottom: 4px solid #889398;
  margin: 0;
  padding: 10px 5px;
  height: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 35%; }

.node-content,
.page-content,
.comment-content {
  border: 1px solid white;
  border-bottom: 1px solid #e8ebec;
  margin: 0;
  padding: 22px 22px 11px;
  position: relative; }

.page-content {
  padding: 15px 22px 0; }

.comment-count {
  background: #f23183;
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -10px;
  left: -10px;
  width: auto; }

.page-content .comment-count {
  margin-top: -15px; }

/* Node Footer
/* --------------- */
.node-footer {
  background: #FCFDFE;
  border-top: 1px solid white;
  margin: 0;
  padding: 15px;
  position: relative;
  z-index: 100; }

.terms {
  /* Prevent spillover onto Read More link */
  width: 85%; }
  .terms a {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em; }

/* Content Navigation
/* --------------- */
.navigation {
  background: #dce8ee url(images/box-highlight.gif) repeat-x bottom center;
  border: 1px solid #ebf2f5;
  border-bottom: 1px solid #d4e0e6;
  margin: 0;
  padding: 8px 10px; }

/* Inputs
/* --------------- */
.input {
  background: #fdfefe url(images/node-box-top.gif) repeat-x top center;
  border: 1px solid #dce7ed;
  color: #76716c;
  font: 0.92em Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 5px; }

/* 07 - FOOTER
/* ----------------------------------------------*/
#footer {
  background: #171615 url(images/footer-stroke.gif) repeat-x top center;
  border-top: 1px solid #171615;
  border-bottom: 1px solid #1e1d1d;
  color: #B2B2B2;
  height: auto;
  margin: 0;
  padding: 10px 0 15px;
  width: auto; }
  #footer .left {
    width: 50%;
    float: left; }
  #footer .right {
    width: 50%;
    float: right; }

#footer p:last-child {
  margin-bottom: 10px; }

#footer-message {
  color: #fff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 10px 0; }

.footer-divider {
  background: url("images/footer-divider.gif") repeat-y scroll left top transparent; }

#footer .login {
  font-size: 1.1em;
  float: right; }
  #footer .login:hover, #footer .login:active {
    color: inherit;
    text-decoration: underline; }

#snavigation {
  background-color: #171615;
  border-top: 1px solid #1e1d1d;
  border-bottom: 1px solid #1e1d1d;
  clear: both;
  padding: 10px 0; }

#snavigation li a.active {
  color: #f23183; }

#snavigation p {
  margin-bottom: 0; }

ul.slinks {
  margin: 0;
  padding: 0; }
  ul.slinks li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em; }

/* 06 - SIDEBAR
/* ----------------------------------------------*/
#sidebar {
  height: auto;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
  width: 305px; }

#sidebar .block h2 {
  background: url("images/sidebar-top.gif") no-repeat scroll center top #f5fbfe;
  color: #587682;
  font: bold 2.25em Arial, Helvetica, sans-serif;
  height: 55px;
  margin: 0;
  padding: 28px 0 0 20px;
  width: 285px; }

#sidebar .block .content {
  background: url("images/sidebar-bottom.gif") no-repeat scroll center bottom #f5fbfe;
  display: block;
  height: auto;
  margin: 0 0 0 0;
  padding: 20px 20px 80px 20px;
  width: 265px; }

#sidebar .block {
  margin: 0 0 20px 0; }

/* 09 - FRONT PAGE MODULES
/* ----------------------------------------------*/
/*----- LAYOUT -----*/
.box-module-container {
  margin-bottom: 20px;
  overflow: auto; }

#column-large {
  /* The 2/3 width column container on the left of the front page */
  float: left;
  margin-right: 10px;
  width: 645px;
  /* 600px with standard 940px container */ }

#column-small {
  /* The 1/3 width column container on the right of the front page */
  float: right;
  width: 330px; }

.column-container {
  /* A generic padded container with background/rounded edges for modules  */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f6fbff;
  -webkit-box-shadow: inset 0px 0px 2px 1px white;
  -moz-box-shadow: inset 0px 0px 2px 1px white;
  box-shadow: inset 0px 0px 2px 1px white;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px; }

.column-container.dark {
  background-color: #ebf6fa; }

.question {
  /* Generic container for questions in Recent Questions module for individual styling if desired */
  clear: both;
  margin-top: 10px;
  overflow: auto; }

.column-third {
  float: left;
  margin-right: 10px;
  width: 321px; }

.column-third:last-child {
  margin: 0;
  /* Zero the margin used for separation on the other boxes */ }

/* Since the node classes are copied from another page, we need
 a few hacks to make it work specifically for the front page */
.module .node-content {
  overflow: auto;
  padding: 10px; }

/* Popular Topics module */
.list-half {
  float: left;
  margin-right: 10px;
  width: 130px; }

.list-half:last-child {
  margin: 0;
  /* Zero the margin used for separation */ }

.list-half a:hover {
  text-decoration: underline; }

/* FAQ module */
.faq-image {
  overflow: hidden;
  position: relative; }

.faq-image img {
  margin: 0;
  padding: 0;
  width: 290px; }

.caption-slide {
  background-color: #262626;
  /* Light -> Dark: #333 --> #2d2d2d --> #262626 */
  color: white;
  opacity: 0.8;
  padding: 5px;
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 285px;
  /* 5+5 = 10px of padding added */ }

/* Image carousel module */
#carousel-window {
  height: 250px;
  /* Actual height: 1000px - viewport is 250px tall */
  float: left;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 400px; }

#window-inner {
  /* An inner container that's scrolled by JS - sort of like a film reel */
  position: absolute;
  top: 0;
  left: 0; }

.carousel-frame {
  color: white;
  float: left;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 400px; }

.carousel-caption {
  background-color: #262626;
  color: white;
  height: 70px;
  opacity: 0.8;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 390px;
  /* 5+5 = 10px of padding added */ }

#carousel-nav {
  float: left;
  width: 555px; }

.carousel-nav-left,
.carousel-nav-right {
  width: 277px; }

.carousel-nav-left {
  float: left; }

.carousel-nav-right {
  float: right; }

#carousel-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.carousel-thumb {
  background-color: #FFF;
  border: 1px solid #eaf1f4;
  float: left;
  margin: 3.125px;
  padding: 2px; }

/*----- TYPOGRAPHY -----*/
/* Columns */
.column-container h2 {
  color: #587682;
  font: bold 2em Arial, Helvetica, sans-serif;
  margin: 10px 0; }

.column-container h4 {
  color: #F23183;
  font: bold 1.4em Arial, Helvetica, sans-serif; }

.date {
  /* The timestamps on the questions module have this class for individual styling if desired */
  color: #A5AEB1;
  margin-bottom: 0.5em; }

.readmore {
  float: right; }

/* Modules */
.module-title {
  border-bottom: 4px solid #30393d;
  color: #30393d;
  font: bold 1.7em Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  /*margin-right: 5px;*/
  /* Add a little space between the bottom border and the edge to make the separation more distinct. */
  padding-bottom: 5px; }

.list-half a:link,
.list-half a:visited {
  clear: both;
  float: left;
  font-weight: bold; }

/* Since the node classes are copied from another page, we need
 a few hacks to make it work specifically for the front page */
.module p {
  margin: 0; }

.module .node-footer a:link,
.module .node-footer a:visited {
  font-style: italic;
  font-weight: normal; }

.module .node-footer a:hover,
.module .node-footer a:active {
  text-decoration: underline; }

.caption-slide h3,
.caption-slide p {
  color: white;
  margin: 0;
  opacity: 1; }

.ask-module {
  font-size: 1.1em;
  line-height: 1.6; }

/* Image Carousel */
.carousel-caption h3,
.carousel-caption p {
  margin: 0;
  opacity: 1; }

.carousel-caption h3 {
  color: #F23183;
  font-size: 2em; }

.carousel-caption p {
  color: white; }

a:link.more-button,
a:visited.more-button {
  /* Read More button in the caption of the image carousel */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F2F2F2;
  border: 1px solid #707070;
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 2px; }

a:hover.more-button,
a:active.more-button {
  background-color: #d1d1d1; }

#carousel-nav a {
  background-color: #FFF;
  border: 1px solid white;
  border-bottom-color: #f6fbff;
  color: #5E6568;
  display: block;
  height: 51px;
  /* not including 10px off padding */
  outline: none;
  padding: 5px;
  text-align: left; }

#carousel-nav a.current {
  background-color: #ebf6fa;
  border: 1px solid #eaf1f4; }

/* ----------------------------------------------*/
/* 10 - ASK THE SEXPERTS WEBFORM
/* ----------------------------------------------*/
/*----- RESETS + BASIC LAYOUT -----*/
#node-22 {
  width: 600px; }

#node-22 .node-box {
  background: none;
  background-image: none;
  border: none; }

#node-22 .node-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #EFEFEF;
  border: 1px solid #cccccc;
  padding: 25px 30px; }

#node-22 .node-footer,
.grippie {
  display: none; }

/*----- FORM ELEMENTS-----*/
#node-22 input:not([type="submit"]),
#node-22 textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  font-size: 1.2em;
  padding: 10px 5px;
  width: 100%; }
  #node-22 input:not([type="submit"]):focus,
  #node-22 textarea:focus {
    border: 1px solid #f23183;
    outline: none; }

#node-22 textarea {
  font: 1.2em Arial, Helvetica, sans-serif;
  overflow: auto;
  width: 100%; }

#node-22 input[type="submit"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #3099DF;
  border: none;
  color: white;
  float: right;
  font-size: 1.2em;
  padding: 10px 15px; }
  #node-22 input[type="submit"]:hover {
    background: none;
    background-color: #008AB8;
    cursor: pointer; }
  #node-22 input[type="submit"]:active {
    background-color: #007298; }

#node-22 label {
  color: #F23183;
  font-size: 1.2em;
  margin-bottom: 5px; }

#node-22 .faq-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F23183;
  color: white;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 12px 10px;
  text-align: center; }
  #node-22 .faq-btn:hover {
    background-color: #e20e68;
    cursor: pointer; }

/* ----------------------------------------------*/
/* 11 - TOPICS LISTING
/* ----------------------------------------------*/
.topic-header {
  font-size: 2em;
  margin-top: 15px; }

.taxonomy-parent {
  background-color: #eee;
  border: 1px solid #d0d0d0;
  font-size: 1.1em;
  padding: 0; }
  .taxonomy-parent ul {
    background-color: white;
    padding: 0; }
    .taxonomy-parent ul li {
      padding-left: 26px; }

.taxonomy-nested {
  border-bottom: 1px solid #dadada;
  margin: 0; }

.taxonomy-item {
  background-color: white;
  border-bottom: 1px solid #dadada;
  list-style: none;
  padding: 5px 7px; }
  .taxonomy-item:last-child {
    border: none; }
  .taxonomy-item a:hover {
    color: #000; }

.item-odd {
  background-color: #eee; }

.taxonomy-nested .taxonomy-item:before {
  content: "- ";
  display: inline-block;
  margin-right: 5px; }

tr.even.cat-row td {
  background-color: white;
  padding: 5px 7px; }

tr.odd.cat-row td {
  padding: 5px 7px; }

.views-field {
  background: transparent;
  padding: none;
  border: none; }

/*
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("/sexinfo/sites/all/themes/magazeen_lite/font-awesome/fontawesome-webfont.eot?v=3.0.1");
  src: url("/sexinfo/sites/all/themes/magazeen_lite/font-awesome/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("/sexinfo/sites/all/themes/magazeen_lite/font-awesome/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("/sexinfo/sites/all/themes/magazeen_lite/font-awesome/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }

/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em; }

.btn [class^="icon-"],
.btn [class*=" icon-"], .nav [class^="icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */ }
  .btn [class^="icon-"].icon-large,
  .btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
  .nav [class*=" icon-"].icon-large {
    line-height: .9em; }
  .btn [class^="icon-"].icon-spin,
  .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
  .nav [class*=" icon-"].icon-spin {
    display: inline-block; }

.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"], .nav-pills [class^="icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */ }
  .nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
  .nav-tabs [class*=" icon-"],
  .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
  .nav-pills [class*=" icon-"],
  .nav-pills [class*=" icon-"].icon-large {
    line-height: .9em; }

li [class^="icon-"],
li [class*=" icon-"], .nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }
  li [class^="icon-"].icon-large,
  li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large,
  .nav li [class*=" icon-"].icon-large {
    /* increased font size for icon-large */
    width: 1.5625em; }

ul.icons {
  list-style-type: none;
  text-indent: -.75em; }
  ul.icons li [class^="icon-"],
  ul.icons li [class*=" icon-"] {
    width: .75em; }

.icon-muted {
  color: #eeeeee; }

.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.icon-2x {
  font-size: 2em; }
  .icon-2x.icon-border {
    border-width: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

.icon-3x {
  font-size: 3em; }
  .icon-3x.icon-border {
    border-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.icon-4x {
  font-size: 4em; }
  .icon-4x.icon-border {
    border-width: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em; }
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em; }

.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em; }
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em; }

.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em; }

.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0; }
  .btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-left.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
    margin-top: .05em; }
  .btn.btn-large [class^="icon-"].pull-left.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-left.icon-2x {
    margin-right: .2em; }
  .btn.btn-large [class^="icon-"].pull-right.icon-2x,
  .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
    margin-left: .2em; }

.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }

@-moz-document url-prefix() {
  .icon-spin {
    height: .9em; }

  .btn .icon-spin {
    height: auto; }

  .icon-spin.icon-large {
    height: 1.25em; }

  .btn .icon-spin.icon-large {
    height: .75em; } }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000"; }

.icon-music:before {
  content: "\f001"; }

.icon-search:before {
  content: "\f002"; }

.icon-envelope:before {
  content: "\f003"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-star-empty:before {
  content: "\f006"; }

.icon-user:before {
  content: "\f007"; }

.icon-film:before {
  content: "\f008"; }

.icon-th-large:before {
  content: "\f009"; }

.icon-th:before {
  content: "\f00a"; }

.icon-th-list:before {
  content: "\f00b"; }

.icon-ok:before {
  content: "\f00c"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-zoom-in:before {
  content: "\f00e"; }

.icon-zoom-out:before {
  content: "\f010"; }

.icon-off:before {
  content: "\f011"; }

.icon-signal:before {
  content: "\f012"; }

.icon-cog:before {
  content: "\f013"; }

.icon-trash:before {
  content: "\f014"; }

.icon-home:before {
  content: "\f015"; }

.icon-file:before {
  content: "\f016"; }

.icon-time:before {
  content: "\f017"; }

.icon-road:before {
  content: "\f018"; }

.icon-download-alt:before {
  content: "\f019"; }

.icon-download:before {
  content: "\f01a"; }

.icon-upload:before {
  content: "\f01b"; }

.icon-inbox:before {
  content: "\f01c"; }

.icon-play-circle:before {
  content: "\f01d"; }

.icon-repeat:before {
  content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021"; }

.icon-list-alt:before {
  content: "\f022"; }

.icon-lock:before {
  content: "\f023"; }

.icon-flag:before {
  content: "\f024"; }

.icon-headphones:before {
  content: "\f025"; }

.icon-volume-off:before {
  content: "\f026"; }

.icon-volume-down:before {
  content: "\f027"; }

.icon-volume-up:before {
  content: "\f028"; }

.icon-qrcode:before {
  content: "\f029"; }

.icon-barcode:before {
  content: "\f02a"; }

.icon-tag:before {
  content: "\f02b"; }

.icon-tags:before {
  content: "\f02c"; }

.icon-book:before {
  content: "\f02d"; }

.icon-bookmark:before {
  content: "\f02e"; }

.icon-print:before {
  content: "\f02f"; }

.icon-camera:before {
  content: "\f030"; }

.icon-font:before {
  content: "\f031"; }

.icon-bold:before {
  content: "\f032"; }

.icon-italic:before {
  content: "\f033"; }

.icon-text-height:before {
  content: "\f034"; }

.icon-text-width:before {
  content: "\f035"; }

.icon-align-left:before {
  content: "\f036"; }

.icon-align-center:before {
  content: "\f037"; }

.icon-align-right:before {
  content: "\f038"; }

.icon-align-justify:before {
  content: "\f039"; }

.icon-list:before {
  content: "\f03a"; }

.icon-indent-left:before {
  content: "\f03b"; }

.icon-indent-right:before {
  content: "\f03c"; }

.icon-facetime-video:before {
  content: "\f03d"; }

.icon-picture:before {
  content: "\f03e"; }

.icon-pencil:before {
  content: "\f040"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-adjust:before {
  content: "\f042"; }

.icon-tint:before {
  content: "\f043"; }

.icon-edit:before {
  content: "\f044"; }

.icon-share:before {
  content: "\f045"; }

.icon-check:before {
  content: "\f046"; }

.icon-move:before {
  content: "\f047"; }

.icon-step-backward:before {
  content: "\f048"; }

.icon-fast-backward:before {
  content: "\f049"; }

.icon-backward:before {
  content: "\f04a"; }

.icon-play:before {
  content: "\f04b"; }

.icon-pause:before {
  content: "\f04c"; }

.icon-stop:before {
  content: "\f04d"; }

.icon-forward:before {
  content: "\f04e"; }

.icon-fast-forward:before {
  content: "\f050"; }

.icon-step-forward:before {
  content: "\f051"; }

.icon-eject:before {
  content: "\f052"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-plus-sign:before {
  content: "\f055"; }

.icon-minus-sign:before {
  content: "\f056"; }

.icon-remove-sign:before {
  content: "\f057"; }

.icon-ok-sign:before {
  content: "\f058"; }

.icon-question-sign:before {
  content: "\f059"; }

.icon-info-sign:before {
  content: "\f05a"; }

.icon-screenshot:before {
  content: "\f05b"; }

.icon-remove-circle:before {
  content: "\f05c"; }

.icon-ok-circle:before {
  content: "\f05d"; }

.icon-ban-circle:before {
  content: "\f05e"; }

.icon-arrow-left:before {
  content: "\f060"; }

.icon-arrow-right:before {
  content: "\f061"; }

.icon-arrow-up:before {
  content: "\f062"; }

.icon-arrow-down:before {
  content: "\f063"; }

.icon-share-alt:before {
  content: "\f064"; }

.icon-resize-full:before {
  content: "\f065"; }

.icon-resize-small:before {
  content: "\f066"; }

.icon-plus:before {
  content: "\f067"; }

.icon-minus:before {
  content: "\f068"; }

.icon-asterisk:before {
  content: "\f069"; }

.icon-exclamation-sign:before {
  content: "\f06a"; }

.icon-gift:before {
  content: "\f06b"; }

.icon-leaf:before {
  content: "\f06c"; }

.icon-fire:before {
  content: "\f06d"; }

.icon-eye-open:before {
  content: "\f06e"; }

.icon-eye-close:before {
  content: "\f070"; }

.icon-warning-sign:before {
  content: "\f071"; }

.icon-plane:before {
  content: "\f072"; }

.icon-calendar:before {
  content: "\f073"; }

.icon-random:before {
  content: "\f074"; }

.icon-comment:before {
  content: "\f075"; }

.icon-magnet:before {
  content: "\f076"; }

.icon-chevron-up:before {
  content: "\f077"; }

.icon-chevron-down:before {
  content: "\f078"; }

.icon-retweet:before {
  content: "\f079"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-folder-close:before {
  content: "\f07b"; }

.icon-folder-open:before {
  content: "\f07c"; }

.icon-resize-vertical:before {
  content: "\f07d"; }

.icon-resize-horizontal:before {
  content: "\f07e"; }

.icon-bar-chart:before {
  content: "\f080"; }

.icon-twitter-sign:before {
  content: "\f081"; }

.icon-facebook-sign:before {
  content: "\f082"; }

.icon-camera-retro:before {
  content: "\f083"; }

.icon-key:before {
  content: "\f084"; }

.icon-cogs:before {
  content: "\f085"; }

.icon-comments:before {
  content: "\f086"; }

.icon-thumbs-up:before {
  content: "\f087"; }

.icon-thumbs-down:before {
  content: "\f088"; }

.icon-star-half:before {
  content: "\f089"; }

.icon-heart-empty:before {
  content: "\f08a"; }

.icon-signout:before {
  content: "\f08b"; }

.icon-linkedin-sign:before {
  content: "\f08c"; }

.icon-pushpin:before {
  content: "\f08d"; }

.icon-external-link:before {
  content: "\f08e"; }

.icon-signin:before {
  content: "\f090"; }

.icon-trophy:before {
  content: "\f091"; }

.icon-github-sign:before {
  content: "\f092"; }

.icon-upload-alt:before {
  content: "\f093"; }

.icon-lemon:before {
  content: "\f094"; }

.icon-phone:before {
  content: "\f095"; }

.icon-check-empty:before {
  content: "\f096"; }

.icon-bookmark-empty:before {
  content: "\f097"; }

.icon-phone-sign:before {
  content: "\f098"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-github:before {
  content: "\f09b"; }

.icon-unlock:before {
  content: "\f09c"; }

.icon-credit-card:before {
  content: "\f09d"; }

.icon-rss:before {
  content: "\f09e"; }

.icon-hdd:before {
  content: "\f0a0"; }

.icon-bullhorn:before {
  content: "\f0a1"; }

.icon-bell:before {
  content: "\f0a2"; }

.icon-certificate:before {
  content: "\f0a3"; }

.icon-hand-right:before {
  content: "\f0a4"; }

.icon-hand-left:before {
  content: "\f0a5"; }

.icon-hand-up:before {
  content: "\f0a6"; }

.icon-hand-down:before {
  content: "\f0a7"; }

.icon-circle-arrow-left:before {
  content: "\f0a8"; }

.icon-circle-arrow-right:before {
  content: "\f0a9"; }

.icon-circle-arrow-up:before {
  content: "\f0aa"; }

.icon-circle-arrow-down:before {
  content: "\f0ab"; }

.icon-globe:before {
  content: "\f0ac"; }

.icon-wrench:before {
  content: "\f0ad"; }

.icon-tasks:before {
  content: "\f0ae"; }

.icon-filter:before {
  content: "\f0b0"; }

.icon-briefcase:before {
  content: "\f0b1"; }

.icon-fullscreen:before {
  content: "\f0b2"; }

.icon-group:before {
  content: "\f0c0"; }

.icon-link:before {
  content: "\f0c1"; }

.icon-cloud:before {
  content: "\f0c2"; }

.icon-beaker:before {
  content: "\f0c3"; }

.icon-cut:before {
  content: "\f0c4"; }

.icon-copy:before {
  content: "\f0c5"; }

.icon-paper-clip:before {
  content: "\f0c6"; }

.icon-save:before {
  content: "\f0c7"; }

.icon-sign-blank:before {
  content: "\f0c8"; }

.icon-reorder:before {
  content: "\f0c9"; }

.icon-list-ul:before {
  content: "\f0ca"; }

.icon-list-ol:before {
  content: "\f0cb"; }

.icon-strikethrough:before {
  content: "\f0cc"; }

.icon-underline:before {
  content: "\f0cd"; }

.icon-table:before {
  content: "\f0ce"; }

.icon-magic:before {
  content: "\f0d0"; }

.icon-truck:before {
  content: "\f0d1"; }

.icon-pinterest:before {
  content: "\f0d2"; }

.icon-pinterest-sign:before {
  content: "\f0d3"; }

.icon-google-plus-sign:before {
  content: "\f0d4"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-money:before {
  content: "\f0d6"; }

.icon-caret-down:before {
  content: "\f0d7"; }

.icon-caret-up:before {
  content: "\f0d8"; }

.icon-caret-left:before {
  content: "\f0d9"; }

.icon-caret-right:before {
  content: "\f0da"; }

.icon-columns:before {
  content: "\f0db"; }

.icon-sort:before {
  content: "\f0dc"; }

.icon-sort-down:before {
  content: "\f0dd"; }

.icon-sort-up:before {
  content: "\f0de"; }

.icon-envelope-alt:before {
  content: "\f0e0"; }

.icon-linkedin:before {
  content: "\f0e1"; }

.icon-undo:before {
  content: "\f0e2"; }

.icon-legal:before {
  content: "\f0e3"; }

.icon-dashboard:before {
  content: "\f0e4"; }

.icon-comment-alt:before {
  content: "\f0e5"; }

.icon-comments-alt:before {
  content: "\f0e6"; }

.icon-bolt:before {
  content: "\f0e7"; }

.icon-sitemap:before {
  content: "\f0e8"; }

.icon-umbrella:before {
  content: "\f0e9"; }

.icon-paste:before {
  content: "\f0ea"; }

.icon-lightbulb:before {
  content: "\f0eb"; }

.icon-exchange:before {
  content: "\f0ec"; }

.icon-cloud-download:before {
  content: "\f0ed"; }

.icon-cloud-upload:before {
  content: "\f0ee"; }

.icon-user-md:before {
  content: "\f0f0"; }

.icon-stethoscope:before {
  content: "\f0f1"; }

.icon-suitcase:before {
  content: "\f0f2"; }

.icon-bell-alt:before {
  content: "\f0f3"; }

.icon-coffee:before {
  content: "\f0f4"; }

.icon-food:before {
  content: "\f0f5"; }

.icon-file-alt:before {
  content: "\f0f6"; }

.icon-building:before {
  content: "\f0f7"; }

.icon-hospital:before {
  content: "\f0f8"; }

.icon-ambulance:before {
  content: "\f0f9"; }

.icon-medkit:before {
  content: "\f0fa"; }

.icon-fighter-jet:before {
  content: "\f0fb"; }

.icon-beer:before {
  content: "\f0fc"; }

.icon-h-sign:before {
  content: "\f0fd"; }

.icon-plus-sign-alt:before {
  content: "\f0fe"; }

.icon-double-angle-left:before {
  content: "\f100"; }

.icon-double-angle-right:before {
  content: "\f101"; }

.icon-double-angle-up:before {
  content: "\f102"; }

.icon-double-angle-down:before {
  content: "\f103"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-desktop:before {
  content: "\f108"; }

.icon-laptop:before {
  content: "\f109"; }

.icon-tablet:before {
  content: "\f10a"; }

.icon-mobile-phone:before {
  content: "\f10b"; }

.icon-circle-blank:before {
  content: "\f10c"; }

.icon-quote-left:before {
  content: "\f10d"; }

.icon-quote-right:before {
  content: "\f10e"; }

.icon-spinner:before {
  content: "\f110"; }

.icon-circle:before {
  content: "\f111"; }

.icon-reply:before {
  content: "\f112"; }

.icon-github-alt:before {
  content: "\f113"; }

.icon-folder-close-alt:before {
  content: "\f114"; }

.icon-folder-open-alt:before {
  content: "\f115"; }
