/*******************************************************************************
	sexinfo override

	Description: Changes made to css as part of the transition code
*******************************************************************************/

.content p
{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	font-size: 12px;
}

div.content table
{
	background-color: #f6f6f6;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

div.content th, div.content  td
{
	border-right: 1px solid #ddd;
	padding: 2px 10px;

}

div.content  th
{
	border-bottom: 1px solid #ddd;
}

div.content  td
{
}