/**
 * @file
 * Google Analytics Reports styles.
 */

.google-analytics-reports-summary-top-sources,
.google-analytics-reports-summary-top-keywords {
  width: 49.3%;
  float: left;
}
.google-analytics-reports-summary-top-sources {
  margin-right: 1.4%;
}

.google-analytics-summary td {
  font-weight: bold;
}

.google-analytics-summary th {
  font-weight: normal;
}

.google-analytics-totals td {
  width: 20%;
}

.google-analytics-totals th {
  width: 30%;
}

/* Rubik doesn't style <ol>s */
.limiter .page-content .google-analytics-reports .item-list ol li {
  float: none;
  padding: 5px 10px 4px;
  border-bottom: 1px solid #f4f4f4;
  list-style: decimal inside;
  display: list-item;
}

/* Touch up border in RootCandy */
.t .b .l .r .bl .br .google-analytics-reports th {
  border: none;
}

/* Hide blocks initially, since their contents load via ajax. */
#block-google-analytics-reports-path-mini,
#block-google-analytics-reports-dashboard {
  display: none;
}
