
/*
 * Styles for closedQuestion nodes.
 */

.qm_description {
  display: none;
}

.cqTable td {
  vertical-align: top;
}

.cqSoHorizontal .cqDropableList {
  float: left;
  margin-left: 5px;
  padding: 0px;
  width: 99%;
}

.cqDDList {
  background: #FFC;
  list-style-type: none;
  margin: 5px;
  min-height: 50px;
  padding: 5px;
}

.cqDDList li {
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #000;
  cursor: move;
  margin: 5px;
  padding: 5px;
}

.cqDDList .remove {
  background-color: #CCC;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 75%;
  margin-top:0;
  padding: 0px 2px 0px 2px;
}

.cqNoDel .remove{
  display: none;
}

.cqDraggable {
  min-width: 50px;
}

.cqSource {
  border: 1px solid #CCC;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  width: 48%;
}

.cqTargets {
  border: 1px solid #CCC;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  width: 48%;
}

.cqSoClear {
  clear: both;
  margin: 0px 0px -5px 0px;
  padding: 0px;
}

/* Switches for horizontal or vertial Select&Order alignment */
.cqSoHorizontal .cqDDList {
  clear: both;
}

.cqSoHorizontal .cqDDList li {
  float: left;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.cqSoHorizontal .cqSource {
  width: 99%;
}

.cqSoHorizontal .cqTargets {
  width: 99%;
}

/* Drag & drop styles */
.cqDdDraggable {
  background-color: #FFF;
  border: 1px solid #CCC;
  cursor:move;
  font-size: 120%;
  min-width: 50px;
  padding: 0px 2px 0px 2px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  z-index: 10000;
}

.cqDdDraggable_small {
  min-width: 0px;
  white-space: nowrap;
}

.cqDdDraggable_reduced {
  background: none;
  border: 1px dotted #CCC;
  min-width: 0px;
  white-space: nowrap;
}

.cqDdDraggable_minimal {
  background: none;
  border: none;
  min-width: 0px;
  padding: 0px;
  white-space: nowrap;
}

p.cqExplanation {
  background: white;
  color: #000;
  margin: 10px;
  text-align: left;
  width: 95%;
}

.cqMatchImgBox {
  background: #eee;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin: 0px;
  margin-bottom: 5px;
  min-height: 50px;
  padding: 0px;
  position: relative;
  z-index: 0;
}

.cqFbBlock {
  color: #007;
}

div.cqFbItem {
  display: inline;
}
