#footer {
  background: $dark-gray url(images/footer-stroke.gif) repeat-x top center;
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid #1e1d1d;
  color: #B2B2B2;
  height:auto;
  margin: 0;
  padding: 10px 0 15px;
  width: auto;

  a:hover,
  a:active {
    color: inherit;
    text-decoration: underline;
  }

  .left, .right { width: 40%; }

  .left { float: left; }
  .right { float: right; }

  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;

  	li { margin-bottom: 10px; }

  	i { padding-right: 5px; }
  }

  p:last-child { margin-bottom: 10px; }

  @include mobile {
    padding: 10px;

    .left, .right {
      float: none;
      width: auto;
    }
  }
}


#footer-message {
  color: #fff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 10px 0;
}

.footer-divider {
  background: url("images/footer-divider.gif") repeat-y scroll left top transparent;
}

#footer .login {
  font-size: 1.1em;
  float: right;
}

#snavigation {
  background-color: $dark-gray;
  border-top: 1px solid #1E1D1D;
  border-bottom: 1px solid #1E1D1D;
  clear: both;
  padding: 10px 0;

  li a.active { color: $pink; }

  p { margin-bottom: 0; }
}

ul.slinks {
  margin: 0;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }
}
