/* 07 - FOOTER
/* ----------------------------------------------*/

#footer {
  background: #171615 url(images/footer-stroke.gif) repeat-x top center;
  border-top: 1px solid #171615;
  border-bottom: 1px solid #1e1d1d;
  color: #B2B2B2;
  height:auto;
  margin: 0;
  padding: 10px 0 15px;
  width: auto;
}

#footer p:last-child {
  margin-bottom: 10px;
}

#footer-message {
  color: #fff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 10px 0;
}

.footer-divider {
  background: url("images/footer-divider.gif") repeat-y scroll left top transparent;
}

#footer .login {
  font-size: 1.1em;
  float: right;

  &:hover,
  &:active {
    color: inherit;
    text-decoration: underline;
  }
}

#snavigation {
  background-color: #171615;
  border-top: 1px solid #1E1D1D;
  border-bottom: 1px solid #1E1D1D;
  clear: both;
  padding: 10px 0;
}

#snavigation li a.active {
  color: #f23183;
}

#snavigation p {
  margin-bottom: 0;
}

ul.slinks {
  margin: 0;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }
}
