$primary-color: #FC89AC;
$text-color: white;
$secondary-color: #fdbbcf;

#footer {
  background-color: $primary-color;
  font-family: "Open Sans", sans-serif;
  color: $text-color;
  padding: 2em;
  padding-bottom: 0;
}

#footer-left {
  float: left;
  width: 35%;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 15%;

  img {
    display: inline;
    width: 15%;
  }

  p {
    display: inline;
    a {
      color: $text-color;
      text-decoration: underline;
    }
  }
}

#footer-right {
  float: right;
  width: 25%;

  margin-right: 15%;
  ul {
    text-align: right;
    
    li {
      display: inline-block;
      list-style-type: none;
      text-align: center;
      vertical-align: middle;

      padding: 1.5em;
      a {
        span {
          font-size: 3em;
          color: $text-color;
        }
      }
    }

    li:hover {
        background-color: $secondary-color;
    }
  }
}

#copyright {
  margin-top: 4em;
  padding: 1em;
  text-align: center; 
  p, a { 
    display: inline;
    color: $text-color;
  }

  a {
    text-decoration: underline;
  }
}