/* ----------------------------------------------*/
/* Front page modules
/* ----------------------------------------------*/

.column-container {
  @include border-box;
  @include border-radius;
  @include clearfix;
  background-color: #f6fbff;
  -webkit-box-shadow: inset 0px 0px 2px 1px #fff;
     -moz-box-shadow: inset 0px 0px 2px 1px #fff;
          box-shadow: inset 0px 0px 2px 1px #fff;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px;

  @include mobile { padding: 0; } // TODO: make this less general
}

/* Popular Topics module */
.list-half {
  float: left;
  width: 50%;

  a:hover { text-decoration: underline; }
}

.third {
  float: left;
  width: 33.33%;

  @include mobile {
    float: none;
    width: 100%;
  }
}


// Generic white container
.front-container {
  @include border-radius(2px);
  @include clearfix;
  background-color: white;
  border: 1px solid $border-color;
  margin-bottom: 25px;
  padding: 0;

  &:last-child { margin-bottom: 55px; }
}

.cloud-container {
  padding: 30px;
  margin-left: auto; margin-right: auto;
  max-width: 75%;
}


// For the box grid
.front-module {
  @include border-box;
  border-right: 1px solid $border-color;
  background-color: white;
  min-height: 280px;
  padding: 8px 15px 15px;
  text-align: center;

  &:last-child { border-right: 0; }

  h3 {
    font-family: 'Open Sans';
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: 15px;
  }

  p {
    color: lighten($gray-text, 20);
    font-family: 'Open Sans';
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .pink-block-btn { margin: 20px auto 0; }

  .module-content { border: 1px solid $border-color; }

  @include mobile {
    min-height: 0px;
    border-top: 1px solid $border-color;
  }
}









// FAQ module
.faq-image {
  overflow: hidden;
  position: relative;

  .faq-image-box {
    background-size: cover;
    padding-bottom: 57%; // Hackety hack! Arbitrarily chosen to look good
  }

  img {
    margin: 0 auto;
    padding: 0;
    max-height: 200px;
    max-width: 100%;
  }
}
  .caption-slide {
    background-color: #262626;
    color: white;
    opacity: 0.8;
    padding: 5px;
    position: absolute;
    bottom: -40px;
    left: 0;
  }


// Image carousel module
// TODO: this is getting really awful, needs refactoring
.carousel-container {
  margin: 20px auto 25px;
  width: 985px;

  @include mobile { width: auto; }
}

#image-carousel {
  @include clearfix;
  @include mobile { margin: 0 auto; }
}

#carousel-window {
  height: 250px;
  float: left;
  margin: 0;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 400px;

  @include mobile {
    margin: 0 auto 10px;
    float: none;
  }
}
  #window-inner {
    /* An inner container that's scrolled by JS - sort of like a film reel */
    position: absolute;
    top: 0; left: 0;
  }

.carousel-frame {
  color: white;
  float: left;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 400px;

  .carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 390px;
  }
}

#carousel-nav {
  font-size: 0.9em;
  float: left;
  width: 555px;

  @include mobile {
    @include clearfix;
    float: none;
    margin: 0 auto;
    width: 400px;
  }
}
  .carousel-nav-left,
  .carousel-nav-right {
    width: 277px;

    @include mobile {
      float: none;
      width: 100%;
    }
  }

  .carousel-nav-left { float: left; }
  .carousel-nav-right { float: right; }

  #carousel-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
    .carousel-thumb {
      background-color: #FFF;
      border: 1px solid #EAF1F4;
      float: left;
      margin-right: 5px;
    }
    .carousel-link-text {
      display: inline-block;
      margin-top: 5px;
    }

// Tag cloud
#htmltagcloud {
  line-height: 2.4em;
  a:hover { text-decoration: underline; }
}
  .wrd {
    position:relative;
    padding: 10px;
  }
  .tagcloud0 {
    font-size:1em;
    color:#F6F;
    z-index:10;
    a { color:#F6F; }
  }
  .tagcloud1 {
    font-size:1.7em;
    color:#f8bdca;
    z-index:9;
    a { color: #f8bdca }
  }
  .tagcloud3 {
    font-size:2.2em;
    color:#fa87aa;
    z-index:7;
    a { color:#fa87aa;}
  }
  .tagcloud4 {
    font-size:2.6em;
    color:#F9c;
    z-index:6;
    a { color:#ff4d74;}
  }
  .tagcloud5 {
    font-size:2.8em;
    color:#ff4d74;
    z-index:5;
    a { color:#f96693;}
  }
  .tagcloud6 {
    font-size:3.2em;
    color:#f25f80;
    z-index:4;
    a { color:#f25f80;}
  }
  .tagcloud7 {
    font-size:3.6em;
    color:#F99;
    z-index:3;
    a { color:#F99;}
  }
  .tagcloud7 {}
  .tagcloud8 {
    font-size:3.9em;
    color:#F69;
    z-index:2;
    a { color:#F69;}
  }
  .tagcloud9 {
    font-size:4.2em;
    color:#F69;
    z-index:1;
  }


/*----- TYPOGRAPHY -----*/
/* Columns */
.column-container h2 {
  color: #587682;
  font: bold 2.00em Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.column-container h4 {
  color: $pink;
  font: bold 1.4em Arial, Helvetica, sans-serif;
}
.date {
  /* The timestamps on the questions module have this class for individual styling if desired */
  color: #A5AEB1;
  margin-bottom: 0.5em;
}
.readmore { float: right }

/* Modules */
.module-title {
  border-bottom: 4px solid $gray-text;
  color: $gray-text;
  font: bold 1.7em Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.list-half a:link,
.list-half a:visited {
  clear: both;
  float: left;
  font-weight: bold;
}

/* Since the node classes are copied from another page, we need
 a few hacks to make it work specifically for the front page */
.module p { margin: 0; }
.module .node-footer a:link,
.module .node-footer a:visited {
  font-style: italic;
  font-weight: normal;
}
.module .node-footer a:hover,
.module .node-footer a:active {
  text-decoration: underline;
}

.caption-slide h3,
.caption-slide p {
  color: white;
  margin: 0;
  opacity: 1;
}
.caption-slide h3 {
  font: bold 1.50em Arial, Helvetica, sans-serif;
}
.ask-module {
  font-size: 1.1em;
  line-height: 1.6;
}

/* Image Carousel */
.carousel-caption h3,
.carousel-caption p {
  margin: 0;
  opacity: 1;
}
  .carousel-caption h3 {
    color: $pink;
    font-size: 2em;
  }
  .carousel-caption p {
    color: white;
  }

a:link.more-button ,
a:visited.more-button  {
  /* Read More button in the caption of the image carousel */
  @include border-radius;
  background-color: #F2F2F2;
  border: 1px solid #707070;
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 2px;
}
  a:hover.more-button,
  a:active.more-button {
    background-color: #d1d1d1;
  }

#carousel-nav a {
  background-color: #FFF;
  border: 1px solid #FFF;
  border-bottom-color: #f6fbff;
  color: #5E6568;
  display: block;
  height: 51px;
  outline: none;
  padding: 5px;
  text-align: left;
}
  #carousel-nav a.current {
    background-color: #ebf6fa;
    border: 1px solid #EAF1F4;
  }
