/* ----------------------------------------------*/
/* Front page modules
/* ----------------------------------------------*/

.front-container {
  background: url(images/main-content.gif) no-repeat top center;
  padding: 20px 0;
  margin-bottom: 55px;
}

.column-container {
  @include border-box;
  @include border-radius;
  @include clearfix;
  background-color: #f6fbff;
  -webkit-box-shadow: inset 0px 0px 2px 1px #fff;
     -moz-box-shadow: inset 0px 0px 2px 1px #fff;
          box-shadow: inset 0px 0px 2px 1px #fff;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px;

  @include mobile { padding: 0; } // TODO: make this less general
}

/* Popular Topics module */
.list-half {
  float: left;
  width: 50%;

  a:hover { text-decoration: underline; }
}


.front-module {
  @include mobile { margin-bottom: 15px; }

  .module-title {}

  .module-content {
    @include clearfix;
    background: #fdfefe url(images/node-box-top.gif) repeat-x top center;
    padding: 10px;
  }

  .module-footer {
    background-color: #FCFDFE;
    border-top: 1px solid #eee;
    padding: 15px;

    a {
      font-style: italic !important; // wat?
      font: bold 1.17em Georgia, "Times New Roman", Times, serif;
      color: $pink;
    }
  }
}


/* FAQ module */
.faq-image {
  overflow: hidden;
  position: relative;

  img {
    margin: 0 auto;
    padding: 0;
    max-height: 200px;
    max-width: 100%;
  }
}
  .caption-slide {
    background-color: #262626;
    color: white;
    opacity: 0.8;
    padding: 5px;
    position: absolute;
    bottom: -40px;
    left: 0;
  }


// Image carousel module
// TODO: this is getting really awful, needs refactoring
.carousel-container {
  margin: 20px auto 10px;
  width: 985px;

  @include mobile { width: auto; }
}

#image-carousel {
  @include clearfix;
  @include mobile { margin: 0 auto; }
}

#carousel-window {
  height: 250px;
  float: left;
  margin: 0;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 400px;

  @include mobile {
    margin: 0 auto 10px;
    float: none;
  }
}
  #window-inner {
    /* An inner container that's scrolled by JS - sort of like a film reel */
    position: absolute;
    top: 0; left: 0;
  }

.carousel-frame {
  color: white;
  float: left;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 400px;

  .carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 390px;
  }
}

#carousel-nav {
  font-size: 0.9em;
  float: left;
  width: 555px;

  @include mobile {
    @include clearfix;
    float: none;
    margin: 0 auto;
    width: 400px;
  }
}
  .carousel-nav-left,
  .carousel-nav-right {
    width: 277px;

    @include mobile {
      float: none;
      width: 100%;
    }
  }

  .carousel-nav-left { float: left; }
  .carousel-nav-right { float: right; }

  #carousel-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
    .carousel-thumb {
      background-color: #FFF;
      border: 1px solid #EAF1F4;
      float: left;
      margin: 3.125px;
      padding: 2px;
    }


/*----- TYPOGRAPHY -----*/
/* Columns */
.column-container h2 {
  color: #587682;
  font: bold 2.00em Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.column-container h4 {
  color: $pink;
  font: bold 1.4em Arial, Helvetica, sans-serif;
}
.date {
  /* The timestamps on the questions module have this class for individual styling if desired */
  color: #A5AEB1;
  margin-bottom: 0.5em;
}
.readmore { float: right }

/* Modules */
.module-title {
  border-bottom: 4px solid $gray-text;
  color: $gray-text;
  font: bold 1.7em Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.list-half a:link,
.list-half a:visited {
  clear: both;
  float: left;
  font-weight: bold;
}

/* Since the node classes are copied from another page, we need
 a few hacks to make it work specifically for the front page */
.module p { margin: 0; }
.module .node-footer a:link,
.module .node-footer a:visited {
  font-style: italic;
  font-weight: normal;
}
.module .node-footer a:hover,
.module .node-footer a:active {
  text-decoration: underline;
}

.caption-slide h3,
.caption-slide p {
  color: white;
  margin: 0;
  opacity: 1;
}
.caption-slide h3 {
  font: bold 1.50em Arial, Helvetica, sans-serif;
}
.ask-module {
  font-size: 1.1em;
  line-height: 1.6;
}

/* Image Carousel */
.carousel-caption h3,
.carousel-caption p {
  margin: 0;
  opacity: 1;
}
  .carousel-caption h3 {
    color: $pink;
    font-size: 2em;
  }
  .carousel-caption p {
    color: white;
  }

a:link.more-button ,
a:visited.more-button  {
  /* Read More button in the caption of the image carousel */
  @include border-radius;
  background-color: #F2F2F2;
  border: 1px solid #707070;
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 2px;
}
  a:hover.more-button,
  a:active.more-button {
    background-color: #d1d1d1;
  }

#carousel-nav a {
  background-color: #FFF;
  border: 1px solid #FFF;
  border-bottom-color: #f6fbff;
  color: #5E6568;
  display: block;
  height: 51px;
  outline: none;
  padding: 5px;
  text-align: left;
}
  #carousel-nav a.current {
    background-color: #ebf6fa;
    border: 1px solid #EAF1F4;
  }
