/* ----------------------------------------------*/
/* 00 - GLOBAL ELEMENTS
/* ----------------------------------------------*/

body {
  background: #e0edf3;
  color:#5e6568;
  font: 0.75em Arial, Helvetica, sans-serif;
  height: auto;
  line-height: 19px;
  margin: 0;
  padding: 0;
  width: auto;
}

code {
  margin:0; padding:0;
  width:80%; height:auto;
  font:1.17em Georgia, "Times New Roman", Times, serif; color:#0f8eb3;
}

pre {
  margin:0 auto; padding:5px 20px;
  background:#f4f1ec url(images/code.gif) repeat;
  border:1px solid #bbced7;
  font:0.92em Georgia, "Times New Roman", Times, serif; color:#3e3e3e;
  line-height:200%;
}

blockquote {
  margin:0 auto; padding:5px 20px;
  width:80%; height:auto;
  background:#f8fbfc url(images/blockquote.gif) no-repeat top left; border:1px solid #edeff0;
}

img { margin:0; padding:0; border:0; }

div.messages { padding: 9px; margin: 1em 0; color: #036; background: #bdf; border: 1px solid #ace; }

div.warning { color: #840; background: #fe6; border-color: #ed5; }

div.error { color: #fff; background: #e63; border-color: #d52; }

div.status { color: #360; background: #cf8; border-color: #be7; }

.container { width: 940px; margin: 0 auto; height:auto; padding:0; }

/* Columns
/* -------------- */
.main { width: 75%; }

.right { width:340px; }

.main, .left { float:left; }

.right { float:right;}


/* Clearfix
/* -------------- */
.clearfix:after { content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }

* html .clearfix { height: 1%; }


