/* 03 - HEADER
/* ----------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.theme-color{
  color: $primary-color;
}

[data-icon]:before {
  font-family: 'Simple-Line-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  background-color: $primary-color;
  vertical-align: middle;
}

*:focus {
    outline: none;
}

#header-right {
  display: inline-block;
  float: right;
  width: 35%;
  form {
    ul {
      text-align: right;
      padding: 0.5em 0;
      padding-right: 1em;
      margin: 0;

      li {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        vertical-align: middle;

        padding: 0.75em;

        margin: 0 0.35em;


        span {
          color: $text-color;
          font-size: 1.75em;
          vertical-align: middle;
        }
      }

      li:hover:not(:first-child) {
        background-color: $secondary-color;
      }

      li:first-child {
        padding: 0.5em;
        font-family: 'Roboto', sans-serif;
      }

      li:nth-child(2) {
        margin-right: 1.5em;
        margin-left: 0.15em;
      }
    }
  }
}

#search-box {
  border: 1px solid $primary-color;
  border-radius: 10px;
  font-size: 1em;
  height: 1em;
  width: 8em;
  padding: 0.5em !important;
  color: gray;
}



#header-left {
  display: inline-block;
  float: left;
  width: 65%;

  margin-top: 0.2em;

  div {
    display: inline-block;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
  }
}

/* Navigation
/* ----------------------------------------------*/


#navigation > ul {
    li {
      font-size: 13px;
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      padding: 0.9em;
      font-family: 'Open Sans', sans-serif;

      a {
        color: $text-color;
        font-weight: lighter;
        text-transform: uppercase;
      }
    }

    li:hover {
      background-color: $secondary-color;
    }
}

#navlogo {
  width: 100px;
  padding: 0 2em !important;
}

#navlogo:hover {
    background-color: $primary-color !important;
}

/* Topic Hover
/* ----------------------------------------------*/
#topics1 {
    position: absolute;
    top: 30px;

    display: none !important;
    background-color: $primary-color;
    min-width: 160px;
    z-index: 1;
    text-align: center;

    ul {
      padding: 0;

      div {
        a {
          li {
            display: block;
          }
        }
      }
    }
}

#firsthalf {
  float: left;
  min-width: 160px;
}

#secondhalf {
  float: right;
  min-width: 160px;
}

#menu:hover {
    #topics1 {
      display: block !important;
    }
}
