/* 03 - HEADER
/* ----------------------------------------------*/

#header {
  margin: 0;
  padding: 0;
  width: auto;
  background: lighten($dark-gray, 2); //url(images/header.gif) repeat-x top center;
  border-bottom:1px solid #4a4d4c;
  clear: both;
}

.banner {
  padding: 10px 0;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: #444444;
    }
  }
}

.new-banner {
  background-color: #F98BB9;

  background-image: linear-gradient(bottom, #F875AB 35%, #F98BB9 70%);
  background-image: -o-linear-gradient(bottom, #F875AB 35%, #F98BB9 70%);
  background-image: -moz-linear-gradient(bottom, #F875AB 35%, #F98BB9 70%);
  background-image: -webkit-linear-gradient(bottom, #F875AB 35%, #F98BB9 70%);
  background-image: -ms-linear-gradient(bottom, #F875AB 35%, #F98BB9 70%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.35, #F875AB),
    color-stop(0.7, #F98BB9));

  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: bold;
  padding: 6px 0;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

#logo {
  // background: url(images/header-shade.gif) no-repeat top right;
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
  width: 580px;

  @include mobile {
    float: none;
    text-align: center;
    width: auto;
  }
}

#searchform-header {
  background: no-repeat scroll right top transparent;
  float: right;
  height: auto;
  margin: 35px 20px 0 0;
  width:284px;

  @include mobile {
    float: none;
    margin: 10px auto 0;
    width: 75%;
  }
}

input#edit-search-block-form--2 {
  background: #FDFEFE url(images/searchform-back.gif) no-repeat  left top;
  border: 0 none;
  color: #AEA592;
  float: left;
  font-size: 0.92em;
  height: auto;
  margin: 0;
  padding: 6px 10px 5px 25px;
  width: 165px;

  &:focus {
    color: $gray-text;
  }
}

#searchform-header .form-submit{
  background: transparent url(images/search.gif) no-repeat  right top;
  border: 0 none;
  color: #ffffff;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 122%;
  font-weight: bold;
  margin: 0 0 0 12px;
  width: 72px;
}

#searchform-header .form-item { display:inline; }

img#logo-image {
  padding: 0 10px 0 0;
}

.social-buttons {
  @include clearfix;
  float: right;
	margin: 20px 10px 5px 0;
	width: 284px;

  a {
    float: left;
    height: 32px;
    margin-right: 30px;
    white-space: nowrap;
    width: 32px;

    &:hover { color: #B2B2B2; }
  }

  @include mobile {
    float: none;
    margin: 20px auto 10px;
    text-align: center;
    width: auto;

    a { float: none; }
  }
}


/* Navigation
/* -------------- */
#navigation {
  background: #FFF url(images/navigation.gif) repeat-x bottom center;
  border-top: 2px solid #393b3b;
  border-bottom: 1px solid #FFF;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

#navigation ul.links {
  float: left;
  height: auto;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 880px;

  @include mobile {
    width: 100%;
  }
}

#navigation ul li {
  float: left;
  margin: 0 3px;
  overflow: visible;
  padding: 0;

  a:hover, a:active {
    background-color: rgba(0,0,0,0.5);
    color: #F1F8FF;
  }

  @include mobile {
    float: none;
    margin: 0;
    width: 100%;
  }
}



#navigation ul li a:link, #navigation ul li a:active, #navigation ul li a:visited {
  margin:0; padding:13px 15px;
  font:bold 1.1em Arial, Helvetica, sans-serif;
  color:#34393e;
  display:block; height:auto;

  @include mobile {
    border-top: 1px solid #eee;
    padding: 5px;
    text-align: center;
  }
}

#navigation ul li:first-child a { border-top: none; }

#navigation ul li a:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration:underline;
}

#navigation ul.links li.active a:link, #navigation ul.links li.active a:active, #navigation ul.links li.active a:visited {
  /* margin:-3px 0 0 0;*/
  padding:15px 15px 14px 15px;
  background:$dark-gray url(images/navigation-hover.gif) repeat-x bottom center;
  color:#f1f8ff; position:relative;

  @include mobile { padding: 5px; }
}

a.rss:link, a.rss:active, a.rss:visited, a.rss:hover {
  margin:13px 15px 0 0; padding:0;
  width:16px; height:17px;
  background:url(images/rss.png) no-repeat top center;
  text-indent:-9999px; display:block; outline:0;
}

.rss {
  margin:0 30px 0 0; padding:0;
  width:16px; height:17px;
  float:right;
}

