/* 05 - MAIN
/* ----------------------------------------------*/
#main .container {
  margin-bottom: 55px;

  @include mobile { margin-bottom: 15px; }
}

ul.pager {
  background-color: #DCE8EE;
  border-color: #EBF2F5 #EBF2F5 #D4E0E6;
  border-style: solid;
  border-width: 1px;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: 120%;
  font-style: italic;
  margin: 0 0 10px;
  padding: 8px 10px;
}

.item-list ul li { margin: 0 0 0.25em 1em; }


/* Node
/* --------------- */
.field-type-taxonomy-term-reference {
  display: none;
}

.node {
  margin:0 0 25px 0;
}

.node-box {
  background: #fdfefe url(images/node-box-top.gif) repeat-x top center;
  border: 1px solid #dce7ed;
  border-bottom: 1px solid #cfdbe1; border-top:0;
  margin: 0;
  padding: 0;
}

.node-content img {
  display: block;
  margin: 0 auto 10px;
  padding: 3px;
  border: 1px solid #E8E8E8;
}

.breadcrumb { font:1.2em Verdana, Arial, Helvetica, sans-serif; }

.node-meta {
  margin:0 0 23px 0; padding:0;
  border-bottom:1px solid #FFF;
  position:relative;
}

.node-info {
  border-bottom: 4px solid #889398;
  margin: 0;
  padding:10px 5px;
  height: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 35%;
}

.node-content,
.page-content,
.comment-content {
  border: 1px solid #FFF;
  border-bottom: 1px solid #e8ebec;
  margin: 0;
  padding: 22px 22px 11px;
  position: relative;
}

  .page-content { padding:15px 22px 0; }

  .comment-count {
    background:$pink;
    display: block;
    height:auto;
    margin:0;
    padding:0;
    position: absolute;
    top:-10px; left:-10px;
    width:auto;
  }

    .page-content .comment-count {
      margin-top:-15px;
    }


/* Node Footer
/* --------------- */
.node-footer {
  background: #FCFDFE;
  border-top: 1px solid #eee;
  margin: 0;
  padding: 15px;
  position: relative;
  z-index: 100;
}

.terms {
  /* Prevent spillover onto Read More link */
  width: 85%;

  a {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }
}

/* Content Navigation
/* --------------- */
.navigation {
  background: #dce8ee url(images/box-highlight.gif) repeat-x bottom center;
  border: 1px solid #ebf2f5;
  border-bottom: 1px solid #d4e0e6;
  margin: 0;
  padding: 8px 10px;
}

/* Inputs
/* --------------- */
.input {
  background:#fdfefe url(images/node-box-top.gif) repeat-x top center;
  border: 1px solid #dce7ed;
  color: #76716c;
  font: 0.92em Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 5px;
}


/* img blackouts
/* --------------- */
.img-reveal {
  display: none;
}

.img-reveal-container:before {
  border: 1px dotted #969696;
  border-radius: 2px;
  color: #404040;
  content: '> Click to reveal image';
  display: inline-block;
  float: left;
  font-weight: bold;
  padding: 10px 15px;
}

.img-reveal-container.img-reveal-container-revealed:before {
  content: '<';
}
