.mission-container {
  width: 100%;
  height: 350px;
  background-image: url('/sexinfo/sites/all/themes/magazeen_lite/images/modules/bg.jpg');
  background-size: cover;
  text-align: center;
  display: block;
}

.mission-text {
  position: relative;
  display: inline-block;
  top: 100px;
  padding: 40px;
  text-align: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.9);
}

.mission-header {
  font-size: 36px;
  margin-bottom: 16px;
}

.mission-body {
  font-size: 16px;
  display: inline-block;
  width: 80%;
  color: #eeeeee;
}
