@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

#articlespread {
	width: 95%;
	margin: 1em auto;


	h5 {
		font-family: 'Roboto', sans-serif;
		text-align: center;
		font-size: 1.4em;
		font-weight: bold;
		color: black;
		margin: 0;
		margin: 1em;
	}

	>div {
		display: inline-block;
		vertical-align: top;
	}
}

#leftcol {
	width: 20%;

	ul {
		padding: 0;
		margin: 0;
	}
}

.recentlyPublished {
	border: 1px solid lightgray;
	list-style-type: none;
	padding: 1em;
	margin-bottom: 1em;
	background-color: white;

	p {
		color: rgb(48, 48, 48);
		font-size: 1.25em;

		font-family: 'Roboto Slab', serif;

		text-align: center;
		display: block;
		margin: 0 auto;
	}
}

.recentlyPublished:hover {
	p {
		text-decoration: underline;
	}
}

h4, h3 {
	//font-family: 'Roboto Slab', serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: semi-bold;
}

#middlecol {
	width: 43%;
	display: inline-block;
	text-align: center;
}

.panel {
	border: 1px solid lightgray;
	display: inline-block;
	vertical-align:top;
	margin: 1em;
	width: 300px;

	text-align: right;



	img {
		display: block;
		width: 100%;
	}


	div {
		background-color: white;
		padding: 12px 15px 20px;
		text-align: left;

		h4 {
			color: rgb(51, 51, 51);
		}

	}
}

.panel:hover {
	div {
		h4 {
			text-decoration: underline;
		}
	}
}

#rightcol {
	width: 35%;

	ul {
		text-align: center;
		padding: 0;

		li {
			background-color: white;
			padding: 0;
			margin: 1em auto;
			width: 100%;

			display: inline-block;
			list-style-type: none;

			div {
				div {
					width: 80%;
					margin: 1em auto;
					position: relative;
					top: -40px;
					background-color: white;
					overflow: hidden;

					h3 {
						color: rgb(51, 51, 51);
						text-align: center;
					}
				}

				p {
					margin-top: -1em;
					font-family: 'Roboto', sans-serif;
					font-size: 1.5em;
					color: #777777;
					padding: 0 0.25em;
				}
			}
		}
	}
}

.largepanel {
	border: 1px solid lightgray;
}

.largepanel:hover {
		div {
			div {
				h3 {
					text-decoration: underline;
				}
			}
		}
}

@media all and (max-width: 1605px) {
	#rightcol {
		display: block;
		width: 100%;

		ul li {
			width: 47%;

			vertical-align: top;

			div {
				padding: 1em;
				div {
					top: -60px;
				}

				p {
					margin-top: -2em;
				}
			}
		}
	}

	#middlecol {
		width: 75%;
	}
}

@media all and (max-width: 1379px) {
	#middlecol {
		display: block;
		width: 100%;
	}

	#leftcol {
		width: 100%;

		ul {
			text-align: center;

			li {
				display: inline-block;
				width: 265px;
				margin: 10px;
			}

		}

	}
}