$transition-time: 0.4s;

/* 

These are the settings to use to get the popular questions page to look good again.
Make sure that these are the settings on the live site!

http://imgur.com/a/WHlQe

/*

.faq {
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid darken(gray, 10);
    background-color: #FDFEFE;


    h3 {
        text-align: center;
         background-color: #FDFEFE;
    }

    div.faq-category-group {
        border-radius: 5px;
        margin: 5px;

        &:nth-of-type(odd) {
            background-color: #FDFEFE;
        }

        &:nth-of-type(even) {
            background-color: #FDFEFE;
        }

        .faq-qa-hide {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: #FDFEFE;
        }

        // Sub-categories
        div div.faq-category-group {
            background-color: #FDFEFE;
            margin: 10px;

            div.faq-qa-hide {
                background-color:#FDFEFE;
            }
        }

        h4 {
            text-align: center;
            padding: 3px 0px;
            color:black;
        }

        div.faq-question {
            padding-right: 10px;

            span:before {
                content: "• ";
            }
        }

    }

    a:link {
        text-decoration: none;
        color: #ffffff;
    }

    div.field-items a:link {
        color: #000000;
    }

    .faq-question a:link {
        color: #f05898;
    }

    .faq-answer {
        padding: 0px 40px;
    }
}

#ask-sexperts-btn {
    width: 300px;
}
