#start-quiz {
margin-top : 20px;
}

#ppq-question {
    font-size : 16px;
}

#answers ul li {
    font-size : 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#answers ul li:hover {
    color: #e20e68;
    cursor: pointer;
}

.ppq-terms {
/*  You don't want ot do 100% because we have  border and padding 
    that pushes the div into some weird whitespace on the right */
width: 90%;
height: 100%;
border: 1px solid #ccc;
background: #f2f2f2;
padding: 6px;
overflow: auto;
margin-top: 10px;
display: block;
margin-left: auto;
margin-right: auto;
font-size : 16px;
}

.response h2 {
    color: purple;
    font-size : 36px;
}

.response p {
	font-size: 16px;
	padding: 8px;
}

.ppq-terms h2 {
    color: purple;
}

.ppq-terms h3 {
    margin: 16px;
    color: gray;
    text-align: center;
}

.ppq-terms h4 {
    color: gray;
    text-align: center;
}

.ppq-terms p {
    margin: 16px;
}

.ppq-terms .bigger_p {
    font-size: 175%;
    line-height: 125%;
    text-align: center;
}

.ppq-terms b {
    color:black;
}

span.tooltip {
    transition: all 0.5s ease-in-out;
    text-decoration: underline;
    color: blue;
}

span.tooltip:hover {
    background-color: yellow;
}

div.tooltip {
    background-color: whitesmoke;
    padding: 6px;
    border-radius: 3px;
    border: 2px solid black;
}