#start-quiz {
margin-top : 20px;
}

#ppq-question {
    font-size : 16px;
}

#answers ul li {
    font-size : 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#answers ul li:hover {
    color: #e20e68;
    cursor: pointer;
}

.terms {
width: 100%;
height: 100%;
border: 1px solid #ccc;
background: #f2f2f2;
padding: 6px;
overflow: auto;
margin-top: 10px;
display: block;
margin-left: auto;
margin-right: auto;
}

.response h2 {
    font-size : 36px;
}

.response p {
	font-size: 16px;
	padding: 8px;
}

.terms h3 {
    margin: 16px;
    color: gray;
    text-align: center;
}

.terms h4 {
    color: gray;
    text-align: center;
}

.terms p {
    margin: 16px;
}

.bigger_p {
    font-size: 175%;
    line-height: 125%;
    text-align: center;
}