.node-content {
    @include mobile {
        padding: 0px;
    }
}

.fb-page {
    span {
        padding: 0px 28px 20px 0px;


    }
    @include mobile {
        span {
            padding: 0px;
            max-width: 100%;
            iframe {
                max-width: 100%;
            }
        }
    }
}

#twitter-widget-0 {
    width: 350px !important;
    padding: 0px 0px 20px 0px;
}
