/* 06 - SIDEBAR
/* ----------------------------------------------*/

#sidebar { margin:0 0 0 15px; padding:0; width:305px; height:auto; list-style:none; }

#sidebar .block h2 {
  background:url("images/sidebar-top.gif") no-repeat scroll center top #F5FBFE;
  color:#587682;
  font:bold 2.25em Arial,Helvetica,sans-serif;
  height:55px;
  margin:0;
  padding:28px 0 0 20px;
  width:285px;
}

#sidebar .block .content {
  background:url("images/sidebar-bottom.gif") no-repeat scroll center bottom #F5FBFE;
  height:auto;
  margin:0 0 0 0;
  padding:20px 20px 80px 20px;
  width:265px;
  display:block;
}

#sidebar .block {margin:0 0 20px 0;}
