h1 {
  margin:0; padding:0;
  font:bold 3.53em Verdana, Arial, Helvetica, sans-serif; color:$gray-text;
  position:relative; display:block;
}

  .node-content h1 {
      margin:10px 0; padding:0;
      font:bold 2.50em Arial, Helvetica, sans-serif; color:$blue-text;
  }

  h1 a:link, h1 a:active, h1 a:visited {
    color:#fefefe;
    outline:0;
    cursor:pointer;
  }

  h1 a:hover {
    color:#d7d7d7;
  }

h2 {
  margin:0; padding:0;
  font:3.13em Verdana, Arial, Helvetica, sans-serif; color:$light-gray;
}

  .node-content h2, .box h2, .theme-info h2 {
    margin:10px 0; padding:0;
    font:bold 2.00em Arial, Helvetica, sans-serif; color:$blue-text;
  }

  h2.slogan { margin: 10px 0 0 0; font:0.83em Verdana, Arial, Helvetica, sans-serif; color:$light-gray;}

h3 {
  margin:0; padding:0;
  font:bold 2.80em Arial, Helvetica, sans-serif; color:$gray-text;
}

  .node-content h3, #sidebar h3{
    margin:10px 0; padding:0;
    font:bold 1.50em Arial, Helvetica, sans-serif; color:$blue-text;
  }

  h3 a:link, h3 a:active, h3 a:visited {
    color:$gray-text;
  }

  h3 a:hover {
    color:#54798b;
  }

  h3.node-title {
    float: left;
    margin:0; padding:10px 0;
    width: 100%;
    height:auto;
    border-bottom:4px solid $gray-text;
    font:bold 2.5em Arial, Helvetica, sans-serif;

    @include mobile {
      width: auto;
    }
  }


h4, #footer h2 {
  margin:0; padding:0;
  font:bold 1.75em Arial, Helvetica, sans-serif; color:#fefefe;
}

  .node-content h4{
    margin:10px 0; padding:0;
    font:bold 1.17em Arial, Helvetica, sans-serif; color:$blue-text;
  }

  #footer h4, #footer h2 {
    margin:10px 0 20px 0;
  }


a:link, a:active { color:$pink; text-decoration:none; }
a:hover { color:#000; }
a:visited { color:$pink; text-decoration:none; }

p { margin:0 0 1em 0; }

/* List Styles  */
ul, ol { margin-left: 0; padding-left: 2em; }

.item-list ul li { list-style:disc inside none; }

/* Table Styles  */
table { width: 99%; }

thead th { background:none repeat scroll 0 0 $pink; border:1px solid #e3e3e3; padding:5px; text-align:left; color:#ffffff;}


tr.even, tr.odd { border:none; }

tr.even td, tr.odd td { padding: 10px 5px; border:1px solid #e3e3e3;}

tr.odd { background-color: #ffffff; }

/* List Styles */
ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Main Content
/* -------------- */
.node-info {
  color:#81888d;
  font:0.92em Georgia, "Times New Roman", Times, serif;
  text-align:right;
}

.node-info span a:link, .node-info span a:active, .node-info span a:visited { color:#1e1c1a; text-decoration:none; }

.node-info span a:hover { color:$pink; }

.node-readmore { float:right; margin-top: -19px;  }

.node-category {
  color: #5E6568;
  font: bold 1.17em Georgia, "Times New Roman", Times, serif;
}

.node-readmore a:link,
.node-readmore a:active,
.node-readmore a:visited,
.node-footer a,
#attachments a {
  font:bold 1.17em Georgia, "Times New Roman", Times, serif;
  color:#f2307f;
}
.node-readmore a:link { font-style: italic; }
.node-readmore a:hover { color:#bd4478; } /* bd4478 */
.node-footer a:active, .node-readmore a:active { text-decoration: underline; }

/* Content Navigation
/* ------------------ */

.navigation { font:normal 0.92em Georgia, "Times New Roman", Times, serif; color:#81888d; }

.navigation a:link, .navigation a:visited, .navigation a:active { font:bold 0.92em Georgia, "Times New Roman", Times, serif; color:#656c71; }

.navigation a:hover { color:#35383a; }



/* Sidebar
/* -------------- */

#sidebar li { font:0.92em Arial, Helvetica, sans-serif;
}

  #sidebar li a:link, #sidebar li a:visited, #sidebar li a:active {
    font:bold 1.17em Arial, Helvetica, sans-serif;
  }

  #sidebar li a:hover { text-decoration:none; }



/* Footer
/* -------------- */

#footer{
  font: 1em Arial, Helvetica, sans-serif; /*0.92em*/
  color:#b2b2b2;
  line-height:17px;
}

p.copyright { margin:10px 0 0 0; font:0.92em Arial, Helvetica, sans-serif; color:#404040; }



/* Search Results
/* -------------- */
// TODO: how to center search form input?

.pink-header {
  color: $pink;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
}

#search-suggestions {
  font-size: 1.5em;
  margin: 15px 0 25px;
  text-align: center;

  a { font-style: italic; }
}
