#contact {
	width: 430px; margin: 60px auto; padding: 60px 30px;
	background: #EAEAEA; border: 1px solid #D6D6D6;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
}

h1 {
	font-size: 35px; color: #FF69B4; text-transform: uppercase;
	text-align: center; margin: 0 0 35px 0; text-shadow: 0px 1px 0px #f2f2f2;
}

label {
	float: left; clear: left; margin: 11px 20px 0 0; width: 95px;
	text-align: right; font-size: 16px; color: #FF69B4;
	text-transform: uppercase; text-shadow: 0px 1px 0px #FFB5C5;
}

input {
	width: 260px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0;
	background: #FFC0CB;
	background: -moz-linear-gradient(top, #FFB5C5 0%, #FFC0CB 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFB5C5), color-stop(20%,#FFC0CB)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #1C1C1C;  text-shadow: 0px -1px 0px #334f71;
}
	input::-webkit-input-placeholder  {
    	color: #CD3278; text-shadow: 0px -1px 0px #CC3375;
	}
	input:-moz-placeholder {
	    color: #CD3278; text-shadow: 0px -1px 0px #CC3375;
	}

textarea {
	width: 260px; height: 170px; padding: 12px 20px 0px 20px; margin: 0 0 20px 0;
	background: #FFC0CB;
	/*background: -moz-linear-gradient(top, #FFB5C5 0%, #FFC0CB 20%);*/ /* firefox */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#FFC0CB)); */ /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #1C1C1C;  text-shadow: 0px -1px 0px #334f71;
}
	textarea::-webkit-input-placeholder  {
    	color: #CD3278; text-shadow: 0px -1px 0px #CC3375;
	}
	textarea:-moz-placeholder {
	    color: #CD3278; text-shadow: 0px -1px 0px #38506b;
	}

input:focus, textarea:focus {
	background: #728eaa;
	background: -moz-linear-gradient(top, #CD2990 0%, #CD2990 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CD2990), color-stop(20%,#CD2990)); /* webkit */
}

input[type=submit] {
	width: 185px; height: 52px; float: right; padding: 10px 15px; margin: 0 15px 0 0;
	-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
	cursor: pointer;
}

.captcha {
	margin: 0 0 0 115px;
	border: 1px solid #777;
}
