@charset "utf-8";
/**********************************************************************//**\file
	SexInfo Admin Panel

	Description: Admin panel css stylesheet
*******************************************************************************/

body
{
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	font-size: 12pt;
	padding: 2px;
}

#banner, #nav, #footer, #question-limit, #user-information
{
	display: none;
}

h1
{
	font-size: 16pt;
	text-align: center;
}

table
{
	border-collapse: collapse;
}

.meta td
{
	border: 1pt solid #000;
	padding: 0 .1in;
}

.body
{
	line-height: 1.6em;
	padding: 1em 1.25in 1em 0;
	min-height: 3em;
}