
/*******************************************************************************
	SexInfoOnline.com
*******************************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 82.5%;
	background: #000 url(/sexinfo/theme/bg9.png) repeat-y center fixed;
}

/*******************************************************************************
	General HTML Tags
*******************************************************************************/

a {
	color: #e26;
}

a:hover {
}

a:visited {
	color: #c2c;
}

img {
}

p {
}

/*******************************************************************************
	General Layout
*******************************************************************************/

#wrapper {
	width: 980px;
	border: 3px solid #231F20;
	margin: 0 auto;
	background-color: #111;
	background-color: #231F20;
}

#banner1 {
        height: 100px;
        color: #231F20;
        display: inline;
        float: left;
        width: 17%;
}

#banner1 img {
    border: 0px none;
}

#banner {
	height: 100px;
	color: #231F20;
    display: inline;
    float: right;
    width: 83%;
 }

#banner img {
	border: 0px none;
}

#nav {
}

#content {
	background-color: #eee;
	width: 790px;
	padding: 10px;
	float: right;
	font-family: Verdana;
	margin: 0px 5px 6px 5px;
}

.sidebar {
	width: 160px;
	float: left;
	
}

#left {
	clear: both;
}


#right {
	display: none;
}

#footer {
	clear: both;
	font-size: .9em;
	border: 2px solid #b14;
	border-width: 2px 0px;
	background-color: #c25;
	margin-top: 6px;
	padding: 1px 10px;
	text-align: center;
	color: #fff;
}

#footer a {
	color: #fff;
	font-weight: bold;
}

.clear {
	clear: both;
}

/*******************************************************************************
	Navigation Lists
*******************************************************************************/

#nav li, .sidebar li {
	list-style: none;
}

#nav ul {
	padding-top: 10px;
	padding-left: 165px;
}

#nav li {
	float: left;
	margin-right: 3px;

}

#nav #search {
	float: right;
}

#nav li a {
	
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 5px 9px;
	background-color: #c25;
}

#nav li.current a, #nav li a:hover {
	background: #eee;
	color: #000;
	
}

.sidebar li {
	margin: 0px;
	width: 150px;
}

.sidebar li a {
	font-size: .8em;
	display: block;
	width: 150px;
	font-weight: bold;
	color: #fff;
	background-color: #444;
	text-decoration: none;
	padding: .5em 5px;
	line-height: 1.6em;
	border-top: 1px solid #222;
	border-bottom: 1px solid #333;
	
}

.sidebar li a:hover {
	background-color: #08a;
	
}

/*******************************************************************************
	Sidebar Search Box
*******************************************************************************/

#search {
	height: 24px;
	font-size: 14px;
	padding-bottom: 3px;
}

#search input {
	line-height: 1.4em;
	vertical-align: middle;
}

#search-query {
	background-color: #fff;
	border: 2px solid #c25;
	display: block;
	width: 128px;
	float: left;
	padding: 2px;
}

#search-button {
	display: block;
	width: 24px;
	height: 24px;
	background: url(/sexinfo/theme/search-button.png) #c25 top;
	border: 0px;
	float: left;
	cursor: pointer;
}

#search-button:hover {
	background-position: 0px 24px;
}

#insubmit {
	position:absolute;
	top:207px;
	left:630px;
}


/*******************************************************************************
	Suckerfish
	http://www.htmldog.com/articles/suckerfish/dropdowns/
*******************************************************************************/

#left ul ul {
	position: absolute;
	left: -999em;
	z-index:55;
}

#left li:hover ul, #left li.sfhover ul {
	margin: -1.6em 0 0 150px;
	left: auto;
	
}

/*******************************************************************************
	Content Formatting
*******************************************************************************/

#content {
	padding: 10px;
	min-height: 300px;
}

#content a {
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
}

#content ul, #content ol {
	margin-left: 2em;
	line-height: 1.6em;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h2.title {
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	margin: .5em 0;
	clear: both;
}

#content h1, #content h2.title {
	font-size: 2em;
	text-align: center;
	margin: .6em 0px;
}

#content h2 {
	font-size: 1.5em;
}

#content h3 {
	font-size: 1.25em;
	font-weight: bold;
}

#content h4 {
	font-size: 1em;
	font-weight: bold;
}

#content p, #content ul, #content ol {
	padding: .5em 0;
}

#content p {
	line-height: 1.4em;
}

/*******************************************************************************
	Content Tables
*******************************************************************************/

#content table {
	border: 1px solid #ccc;
	width: 100%;
	border-collapse: collapse;
}

#content td, #content th {
	border: 1px solid #ccc;
	border-width: 0px 1px 1px 0px;
	padding: 3px 5px;
}

#content th {
	background-color: #e0e0e0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	border-bottom: 1px solid #ccc;
}

/*** Used for "index" lists on the /article/, /question/, etc. ***/
#content table.index tr a {
	display: block;
	padding: 3px 5px;
	margin: -3px -5px;
	width: 100%;
}

#content table.index tr:hover, #content table.index tr a:hover {
	background-color: #eef;
	text-decoration: none;
}

/*******************************************************************************
	Calendar Tables
*******************************************************************************/

table.exams {
	width: 100%;
	border-collapse:collapse;
}

table.exams td {
	width: 19%;
	background-color: #fff;
}

#content table.exams tr.day td {
	color: #888;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
	border-bottom: 0px none;
}

#content table.exams tr.info td {
	width: 19%;
	background-color: #fff;
	text-align: center;
}

/*******************************************************************************
	Metadata
*******************************************************************************/

#content .metadata {
	margin-top: 1em;
	text-align: right;
	font-size: .8em;
	color: #666;
}

/*******************************************************************************
	Homepage
*******************************************************************************/

#content .news-box {
	width: 370px;
	padding: 10px;
}

#content .news-box h3 {
	text-align: center;
}

#content .news-box a {
	color: #000;
}

#content #news-articles {
	background-color: #9bcad6;
	float: left;
	border: 1px solid #08a;
}

#content #news-questions {
	background-color: #9bcad6;
	float: right;
	border: 1px solid #08a;
}

#content div.news-item {
	font-size: .865em;
}

#content .news-item h4 {
	margin: 0px;
	float: left;
}

#content .news-item .metadata {
	margin: 0px;
	float: right;
}

#content .news-item p {
	clear: both;
}
#featured{ 
	z-index:50;
	width:400px; 
	padding-right:250px; 
	position:relative; 
	left: 64px;
	border: 8px groove #ff0066; 
	height:250px; 
	background: #E8E8E8 
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:400px; 
	list-style:none; 
	padding:0; margin:0; 
	width:250px; 
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; 
	color:#333;  background:#fff; 
	line-height:20px;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected{ 
	background:url('selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:400px; height:250px; 
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:180px; left:0; 
	height:70px; 
	background: url('transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	font-weight: bold;
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}
/*******************************************************************************
	Content Index Pages
*******************************************************************************/

#index h3 {
	font-size: 1em;
	margin-bottom: 0px;
}

#index p {
	font-size: .8em;
}

#index ul {
	margin: 0px;
	margin-bottom: 2em;
	list-style: none;
}

#index ul a {
	font-weight: bold;
}

#index ul a:hover {
}

#index li {
}

#index li.alt {
}

#index .date {
	font-size: .8em;
	color: #888;
	font-weight: normal;
	font-family: Tahoma, sans-serif;
}

/*******************************************************************************
	Buttons
*******************************************************************************/

#addthis {
	float: right;
}

#toolbox a.button {
	display: block;
	height: 24px;
	width: 24px;
	float: left;
	margin-left: 6px;
	background-image: url(/sexinfo/theme/icons.png);
}

a#favorite {
	background-position: 0% 100%;
}

a#favorite:hover {
	background-position: 0% 0%;
}

a#problem {
	background-position: -24px 100%;
}

a#problem:hover {
	background-position: -24px 0%;
}

a#edit {
	background-position: -48px 100%;
}

a#edit:hover {
	background-position: -48px 0%;
}

a#zap {
	background-position: -72px 100%;
}

a#zap:hover {
	background-position: -72px 0%;
}

/*******************************************************************************
	Debug Output
*******************************************************************************/

#content .debug {
	text-align: right;
	font-size: .8em;
	color: #666;
}
