/* Sex Info CSS Elements

00 - Global Elements - Standard Elements
01 - Typography - All Type throughout the site
02 - Main Structure - Columns, clearfix, etc.
03 - Header - Header, Logo, navigation, search.
04 - Main Content - Post boxes, post meta, etc.
05 - Sidebar - Custom sidebar widgets.
06 - Footer - Categories, About, Copyright, Sponsors.

/* ----------------------------------------------*/

/* 00 - GLOBAL ELEMENTS
/* ----------------------------------------------*/

/* --- Basically all the text on the site except the headers --- */
body {
	margin:0; padding:0;
	width:auto; height:auto;
	background:#e0edf3;
	font:0.75em Arial, Helvetica, sans-serif; color:#5e6568;
	line-height:19px;
}


code {
	margin:0; padding:0;
	width:80%; height:auto;
	font:1.17em Georgia, "Times New Roman", Times, serif; color:#0f8eb3;
}

	pre {
		margin:0 auto; padding:5px 20px;
		background:#f4f1ec url(images/code.gif) repeat;
		border:1px solid #bbced7;
		font:0.92em Georgia, "Times New Roman", Times, serif; color:#3e3e3e;
		line-height:200%;
	}

blockquote {
	margin:0 auto; padding:5px 20px;
	width:80%; height:auto;
	background:#f8fbfc url(images/blockquote.gif) no-repeat top left; border:1px solid #edeff0;
}

img {
	margin:0; padding:0;
	border:0;
}

ins {
	color:#009999;
}

del {
	color:#990000;
}




/* 01 - TYPOGRAPHY
/* ----------------------------------------------*/

h1 {
	margin:-10px 0 0 0; padding:0;
	font:bold 3.53em Verdana, Arial, Helvetica, sans-serif; color:#fefefe;
    text-shadow: #828282 1px 1px 0px;
	position:relative; display:block;
}

	.post-content h1, .page-content h1 {
		margin:10px 0; padding:0;
		font:bold 2.50em Arial, Helvetica, sans-serif; color:#53798b;
	}

	h1 a:link, h1 a:active, h1 a:visited {
		color:#fefefe;
		outline:0;
	}
	
	h1 a:hover {
		color:#d7d7d7;
	}

	h1 span {
		margin:10px 0 0 0;
		background:url(images/gradient.png) repeat-x;
		width:100%; height:20px;
		position:absolute; display:block;
	}

h2 {
	margin:0; padding:0;
	font:0.83em Verdana, Arial, Helvetica, sans-serif; color:#b9b9b9;
}

	.post-content h2, .page-content h2 {
		margin:10px 0; padding:0;
		font:bold 2.00em Arial, Helvetica, sans-serif; color:#53798b;
	}
    
        

h3 {
	margin:0; padding:0;
	font:bold 2.40em Arial, Helvetica, sans-serif; color:#30393d;
}

	.post-content h3, .page-content h3 {
		margin:10px 0; padding:0;
		font:bold 1.50em Arial, Helvetica, sans-serif; color:#53798b;
	}

	h3 a:link, h3 a:active, h3 a:visited {
		color:#30393d;
	}
	
	h3 a:hover {
		color:#54798b;
	}
	
	h3.post-title, .single h3.post-title, h3.post-title-small {
		margin:0; padding:10px 0;
		width:400px; height:auto;
		border-bottom:4px solid #30393d;
        float:left;
	}
	
		.single h3.post-title {
			font-size:1.50em;
			width:332px;
		}
		
		h3.post-title-small {
			font-size:1.3em;
		}

h4 {
	margin:0; padding:0;
	font:bold 1.4em Arial, Helvetica, sans-serif; color:#fefefe;
}

	h4.post-content {
		margin:0; padding:0;
		font:italic 1.37em Georgia, "Times New Roman", Times, serif; color:#53798b;
	}


h5, #searchform label {
	/* Sidebar Header */
	margin:0px 0px 0px 15px; padding:22px 0px 0px 20px;
	width:285px; height:55px;
	background:#f5fbfe url(images/sidebar-top.gif) no-repeat top center;
	font:bold 2.00em Arial, Helvetica, sans-serif; color:#587682;
}

	.post-content h5, .page-content h5 {
		margin:10px 0; padding:0;
		width:auto; height:auto;
		background:none;
		font:bold 1.00em Georgia, "Times New Roman", Times, serif; color:#53798b;
	}

	#tag_cloud h5, #searchform label {
		margin:0; padding:0;
		background:none;
	}

a:link, a:active {
	color:#f23183;
	text-decoration:none;
}

a:visited {
	color:#f23183;
	text-decoration:none;
}

a:hover {
	color:#000;
}


h6 {
	margin:0; padding:0;
	font:italic 1.5em Verdana, serif; color:#fefefe;
}

h8 {
	margin:0; padding:0;
	width:auto; height:auto;
	background:#e0edf3;
	font:0.75em Arial, Helvetica, sans-serif; color:#5e6568;
	line-height:19px;
}

    h8 a:link, h8 a:active, h8 a:visited {
    color:#30393d;
	}
	
	h8 a:hover {
		color:#54798b;
	}

/* Header
/* -------------- */

#navigation ul li a:link, #navigation ul li a:active, #navigation ul li a:visited {
	margin:0; padding:13px 15px;
	font:bold 1.08em Arial, Helvetica, sans-serif; color:#34393e;
	display:block;
}

#navigation ul li a:hover {
	color:#000;
	font-weight:bold; text-decoration:underline;
}

#navigation ul.pages li.current_page_item a:link, #navigation ul.pages li.current_page_item a:active, #navigation ul.pages li.current_page_item a:visited {
	/* Crazy margins to pull up the hover image above the borders.*/
	margin:-3px 0 0 0; padding:15px 15px 14px 15px;
	background:#171615 url(images/navigation-hover.gif) repeat-x bottom center;
	color:#f1f8ff; position:relative
}

a.rss:link, a.rss:active, a.rss:visited, a.rss:hover {
	margin:13px 15px 0 0; padding:0;
	width:16px; height:17px;
	background:url(images/rss.png) no-repeat top center;
	text-indent:-9999px; display:block; outline:0;
}


/* Content Navigation
/* -------------- */

.navigation {
	font:normal 0.92em Georgia, "Times New Roman", Times, serif; color:#81888d;
}

	.navigation a:link, .navigation a:visited, .navigation a:active {
		font:bold 0.92em Georgia, "Times New Roman", Times, serif; color:#656c71;
	}
	
	.navigation a:hover {
		color:#35383a;
	}
	
/* Comments
/* -------------- */	

.submit-comment {
	margin:0 0 15px 0; padding:0;
	width:127px; height:27px;
	background:url(images/submit-comment.gif) no-repeat top center;
	display:block; outline:0; text-indent:-9999px;
	border:0;
}

.author {
	font:1.50em Arial, Helvetica, sans-serif; color:#3c4d54;
}

	.author a:link, .author a:active, .author a:visited {
		color:#3c4d54;
	}
	
	.author strong span, .author strong span a:link, .author strong span a:active, .author strong span a:visited {
		color:#6b8894;
		display:inline;
	}
	
.author span {
	font:0.61em Georgia, "Times New Roman", Times, serif; color:#a3aeb2;
	display:block;
}

.comment-text {
	font:1.00em Arial, Helvetica, sans-serif; color:#74868d;
	line-height:19px;
}


/* Footer
/* -------------- */
	
p.about-text {
	margin:0 0 10px 0;
	font:0.92em Arial, Helvetica, sans-serif; color:#b2b2b2;
	line-height:17px;
}

p.copyright {
	margin:10px 0 0 0;
	font:0.92em Arial, Helvetica, sans-serif; color:#404040;
}

/* Misc
/* -------------- */

.arial, .arial a {
	font-family:Arial, Helvetica, sans-serif;
}

/* 02 - MAIN STRUCTURE
/* ----------------------------------------------*/

.container {
	/* The container is a class simply because of the multiple full-span elements.*/
	margin:0 auto; padding:0;
	width:940px; height:auto;
}

/* Various Columns
/* -------------- */

.col-660 {
    margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
	width:670px;
}

.col-290 {
	width:290px;
}

.col-460 {
    margin:0px 0px 0px 0px; padding:0px 4   0px 0px 0px;
    width:460px;
}

.col-300 {
    margin:2px 0px 0px 0px; padding:0px 0px 0px 0px;
	width:270px;
}

.clear {
    clear:both;
}   

.left, .alignleft {
	float:left;
}

.right, .alignright {
	float:right;
}

.aligncenter {
	margin:0 auto;
	display:block;
}

/* Clearfix
/* -------------- */

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* 03 - HEADER
/* ----------------------------------------------*/

#header {
	margin:0; padding:48px;
	width:auto; height:auto;
	background:#171615 url(images/header.gif) repeat-x top center;
	border-bottom:1px solid #4a4d4c;
}

	#logo {
		margin:0; padding:60px 0;
		width:580px; height:auto;
		background:url(images/header-shade.gif) no-repeat top right;
		float:left;
	}
    
    #sexinfo-banner {
        margin:-50px 0px 0 10px; padding:0px 0;
        width:299px; height:94px;
        background:url(images/SexInfo-banner.png) no-repeat center left;
        float:left;
    }
	
	#searchform-header {
		margin:-10px 0px 0px 0; padding:0px 0px 0px 0px;
		width:284px; height:auto;
		background:url(images/searchform-back.gif) no-repeat center left;
		float:right;
	}
	
		#searchform-header #s {
			margin:0px 0 0 0; padding:6px 10px 5px 25px;
			width:165px; height:auto;
			border:0;
			background:none;
			float:left;
			font-size:0.92em; color:#aea592;
		}
		
		#searchform-header #go {
			float:right;
			margin:0;
		}
	
#navigation {
	margin:0; padding:0;
	background:#FFF url(images/navigation.gif) repeat-x bottom center;
	border-top:2px solid #393b3b; border-bottom:1px solid #FFF;
}

	#navigation ul.pages {
		margin:0 auto; padding:0;
		width:900px; height:auto;
		list-style:none; float:left;
	}
	
		#navigation ul li {
			margin:0 25px; padding:0;
			float:left; overflow:visible;
		}
   
/* Navigation Active Page code. */
#navigation ul.pages li.current_page_item a:link, #navigation ul.pages li.current_page_item a:active, #navigation ul.pages li.current_page_item a:visited {
	/* Crazy margins to pull up the hover image above the borders.*/
	margin:-3px 0 0 0; padding:15px 30px 14px 30px;
	background:#171615 url(images/navigation-hover.gif) repeat-x bottom center;
	color:#f1f8ff; position:relative
}
		
        
        
	/* MAKE THIS RSS INTO LANGUAGES
	/*------------------------------------*/
		
	.rss {
		margin:0 30px 0 0; padding:0;
		width:16px; height:17px;
		float:right;
	}
	
		
/* 04 - MAIN CONTENT
/* ----------------------------------------------*/

#main-content {
	margin: 10px 0 0 0; padding:6px 0px;
	border-top:0px solid #c6dee7;
	border-bottom:0px solid #d0dce2;
}


/* Archive Post
/* --------------- 

.archive {
	margin:0;
}
	
	.archive .post-meta-a {
		margin:0 0 17px 0;
	}
	
	.archive .post-info {
		font-style:italic;
	}
    */

	
/* Small (Half) Post
/* --------------- */

.single {
	margin:0px 6px 0px 0px; padding:0px 0px 0px 0px;
	width:329px;
	float:left;
}

	.single .post-content {
		margin:0px 0px 0px 0px; padding:22px 17px 11px 25px;
	}
	
    .single .post-footer {
		padding:16px 20px;
        height:8px;
        border-bottom:1px solid #dce1e3; 
	}

	.last {
		margin:50px 0 0 0; padding: 0 0 0 0;
        float:left;
	}

/* Post Box
/* --------------- */
	
.post-box {
	margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
	background:#fdfefe url(images/post-box-top.gif) repeat-x top center;
    width:330px;
    height:180px;
	border:1px solid #dce7ed;
	border-bottom:1px solid #cfdbe1; border-top:1px solid #e2e8eb;
}

	.post-meta {
		margin:0 0px 10px 0; padding:0;
 
		border-bottom:1px solid #ecf3f5;
		position:relative;
	}
		
	.post-meta1 {
		margin:0 0 17px 0;
	}
    
    .post-info {
        margin:0 0 0 400px; padding:10px 5px;
        width:260px; height:auto;
        border-bottom:4px solid #889398;
        bottom:0; left:0px;
        text-align:right;
        position:absolute;
    }

	.post-content {
		margin:0px 0px 0px 0px; padding:22px 22px 11px 0px;
		border:0px solid #FFF;
		border-bottom:0px solid #e8ebec;
        position:relative;
        
		
	}
    
    .post-content ul {
        float:left;
        width:329px;
        margin:0px 0px 20px -4px; padding:0px 0px 25px 0px;
    }

    .post-content li {
        float:left;
        width:140px;
        margin:0px 0px 0px 15px; padding:0px 0px 0px 0px;
    }
	

        
			
	/* Post Footer
	/* --------------- */		
			
	.post-footer {
		margin:-1px 13px 0px 1px; padding:0px;
        background:#fcfdfe; 
        width:290px;
		border-top:1px solid #e8ebec;
		position:relative; z-index:100;
	}
    
    
    .continue-reading {
        margin:-27px 0px -17px -15px; padding:0px 0px 0px 0px;
        width:320px; height:0px;
        border-top:0px solid #e8ebec;
        float:left; text-align:left;
    }
		/*
		
			.dropdown {
				margin:0; padding:0;
				width:360px; height:auto;
				background:url(images/dropdown.png) no-repeat bottom center;
				text-align:left;
				display:none;
				position:relative;
			}
			

/* Content Navigation
/* --------------- */	
						
.navigation {
	margin:0; padding:8px 10px;
	background:#dce8ee url(images/box-highlight.gif) repeat-x bottom center;
	border:1px solid #ebf2f5;
	border-bottom:1px solid #d4e0e6;
}

	
/* Inputs
/* --------------- */

.input {
	margin:0; padding:5px;
	background:#fdfefe url(images/post-box-top.gif) repeat-x top center;
	border:1px solid #dce7ed;
	font:0.92em Arial, Helvetica, sans-serif; color:#76716c;
}



/* 05 - SIDEBAR
/* ----------------------------------------------*/

#sidebar {
	margin:0 0 0 15px; padding:0;
	width:305px; height:auto;
	list-style:none;
}

	#sidebar li {
		margin:0px 0px 20px 0px; padding:0px 0px 56px 0px;
		width:auto; height:auto;
		background:#f5fbfe url(images/sidebar-bottom.gif) no-repeat bottom center;
        
	}
	/*
		#sidebar #tag_cloud, #sidebar #search {
			padding:0;
			background:none;
		}
		
			#searchform {
				margin:0 auto; padding:0;
			}
            */
			
	#sidebar #sponsored-ad {
		background:none;
	}
	
		#sidebar li ul, #sidebar .textwidget, #calendar_wrap {
			margin:0px 0px 0px -20px; padding:0px 10px 0px 30px;
			width:260px; height:auto;
			list-style:none;
			background:none;
			overflow:hidden;
		}		
		
			#calendar_wrap {
				margin:0 auto;
				width:190px;		
			}
		
		
		#sidebar .textwidget {
			margin:0 auto 15px auto;
		}
		
			#sidebar li ul li  {
				margin:0 0 15px 0; padding:20;
				width:auto; height:auto;
				background:none;
			}
			
				.sidebar-preview {
					margin:0; padding:3px 0 0 4px;
					width:114px; height:65px;
					background:#FFF url(images/sidebar-preview-back.gif) no-repeat top center;
					float:left;
				}
				
				.sidebar-content {
					margin:0; padding:0;
					width:115px; height:auto;
					float:right;
				}
						
/* 06 - FOOTER
/* ----------------------------------------------*/
#foot-stroke {
    margin:0; padding:20px 0;
    width:auto; height:auto;
    border-bottom:10px solid #d0dce2;
}

#footer {
	margin:0; padding:20px 0;
	width:auto; height:auto;
	background:#171615 url(images/footer-stroke.gif) repeat-x top center;
	border-top:1px solid #171615; border-bottom:1px solid #1e1d1d;
    
}

	.footer-divider {
		background:url(images/footer-divider.gif) repeat-y top left;
	}

	#footer .categories {
		margin:0; padding:0;
		width:360px; height:auto;
		float:left;
	}
	
		.footer-cat {
			margin:0; padding:0;
			width:360px; height:auto;
			list-style:none;
		}
		
			.footer-cat li {
				margin:5px 0; padding:0 0 0 9px;
				width:150px; height:auto;
				float:left;
				background:url(images/footer-cat-left.gif) no-repeat top left;
			}
			
				.footer-cat li a {
					margin:0; padding:0 9px 0 0;
					width:auto; height:23px; line-height:23px;
					float:left; display:block;
					background:url(images/footer-cat-right.gif) no-repeat top right;
				}
				
				.footer-cat li a:link, .footer-cat li a:active, .footer-cat li a:visited {
					font-family:Georgia, "Times New Roman", Times, serif; color:#a7a7a7;
					font-size:12px;
				}
				
				.footer-cat li a:link span, .footer-cat li a:active span, .footer-cat li a:visited span {
					color:#FF00FF;
				}
				
			.footer-cat li:hover, .footer-cat li:hover a {
	  			background-position:0% -23px;
			 	color:#171615;
				cursor:pointer;
			 }
			
			.footer-cat li:hover a {
				background-position:100% -23px;
  			}
	
	#footer .about {
		margin:0; padding:0;
		width:580px; height:auto;
		float:right;
	}
	
#link-back {
	margin:0; padding:1px;
    text-align:right;
	background:#0c0b0b;
}




/* EVEN MORE JUNK
/* ----------------------------------------------*/

.questions {
    border:1px solid #a3a09e;
    background-color:eef6f9;
    margin-bottom:20px;
}

.questions_inside {
    margin:0px 0px 0px 0px; padding 0px 0px 0px 0px;
    display:block;
    border:1px solid #f6fbff;
    background-color: #eef6f9;
    margin-bottom:20px;
}
/*
#search {
	height: 24px;
	font-size: 14px;
	padding-bottom: 3px;
}

#search input {
	line-height: 1.4em;
	vertical-align: middle;
}

#search-query {
	background-color: #fff;
	border: 2px solid #c25;
	display: block;
	width: 128px;
	float: left;
	padding: 2px;
}

*/
#search-button {
	display: block;
	width: 84px;
	height: 26px;
	background: url(/sexinfo/theme/images/search.gif);
	border: 0px;
	float: right;
	cursor: pointer;
}

/*******************************************************************************
	Homepage
*******************************************************************************/

#preq 
{
position: absolute;
left: 820px;
top: 250px;
}

#content .news-box {
	width: 300px;
	padding: 0px 0px 0px 20px;
}

#content .news-box h3 {
	text-align: center;
}

#content .news-box a {
	color: #000;
}

#content #news-articles {
	background-color: #9bcad6;
	float: left;
	border: 1px solid #08a;
}

#content #news-questions {
	background-color: #9bcad6;
	float: right;
	border: 1px solid #08a;
}


#content .news-item h4 {
	margin: 0px;
	float: left;
}


#content .news-item-text {
		margin:0; padding:0px 0px 0px;
	}

#content .news-item .metadata {
	margin: 0px 0px 15px 0px;
    font-size:0.9em; color:#8a8a8a;
	float:right;
}

#content .news-item p {
	clear: both;
}

#featured{ 
	z-index:50;
	width:400px; 
	padding-right:250px; 
	position:relative; 
    margin: 0 0 0 7px;
	left: 0px; 
	height:250px; 
	background: #f7fbfd; 
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:400px; 
	list-style:none; 
	padding:0; margin:0; 
	width:250px; 
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; 
	color:#5e6568;  background:#fff; 
	line-height:20px;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#fff; 
}
#featured li.ui-tabs-selected{ 
	background:url('selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ebf6fb; 
    border:1px solid #eaf1f4;
}
#featured .ui-tabs-panel{ 
	width:400px; height:250px; 
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:180px; left:0; 
	height:70px; 
	background: url('images/transparent-bg.png'); 
}
#featured .info h2{ 
    font:bold 2.0em Arial, Helvetica, sans-serif; 
    color:#f23183;               
    padding:0 0 0 0px; margin:0 0 0 10px;
    text-align:left;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 0 0 10px; 
	line-height:18px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#f23183; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
} 


.round-featurele {
    background-image: url(images/feature-lside.jpg);
    padding: 0px 0px 0px 1px; margin: -12px 0px 0px 0px;
    width:23px;
    height:270px;
}

.round-featuresi {
    background-image: url(images/feature-sides.jpg);
    background-repeat: repeat-x;
    padding: 10px 0px 0px 0px; margin: 0px 0px 0px 7px;
    height:268px;
    width:667px;

}

.round-featureri {
    background-image: url(images/feature-rside.jpg);
    width:22px;
    height:270px;
    padding: 0px 0px 0px 0px; margin: -259px 0px 0px 0px;
    margin-left:auto; margin-right:0px;
}


.intro-divider {
    background-image: url(images/frontpage-divider.gif);
    background-repeat: repeat-y;
    padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;
    height:200px;
}

.intro-text-right {
    margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
	width:310px; height:auto;
    float:right;
}


.intro-text-left {
    margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
	width:310px; height:auto;
    float:left;
}


    

    

    
/* ------ JQUERY PLUGIN ------- */



.ic_container{
    vertical-align:baseline;
    margin:-8px;
    position:relative;
    border:0px solid; color:#ffffff;
    /*-moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 3px #888;
    -webkit-box-shadow: 0 1px 3px #888;*/
}

.overlay{
    opacity:0.6;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}


.ic_caption{
    position:absolute;    
    opacity:.8;   
    overflow:hidden;
    margin:0px 0 -2px 0px;
    padding:5px 0px 5px 0px;
    left:0px;
    right:0px;
    cursor:default;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.ic_caption h7{
    padding:0px 0px 0px 12px;
    margin:0px;
    font:bold;
    font-size:18px; color:#ffffff;
}

.ic_caption a {
    font-size:12px; color:#ffffff;
}

.ic_text{
    padding:0px 0 0 5px;
    margin:0px 0 0 8px;
    text-align:left;
    font-size:12px;

}

.announcement, .announcement a {
	width:100%;
	height:20px;
	margin:0 auto;
	background-color:#F23183;
	color:#543945;
	text-shadow:1px 1px #F268A2;
}

.announcement a:hover {
	text-decoration: underline;
}


/* FAQ's page buttons */
.boxbutton {
	width:250px;
	height:60px;
	float: left;
	margin-left:40px;
	/*padding:20px;*/
	border:2px solid #fff;
	background-color:#f5fbff;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	-moz-box-shadow: 0 1px 1px #a3b5c1;
	-webkit-box-shadow:  0 1px 1px #a3b5c1;
	box-shadow:  0 1px 1px #a3b5c1;	
}

.boxbutton a, .boxbutton a:link, .boxbutton a:visited {
	width:250px;
	height:60px;
	/*padding: 10px;*/
	display: block;
	background:#f5fbff;
	border:2px solid #fff;
	background-color:#f5fbff;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	-moz-box-shadow: 0 1px 1px #a3b5c1;
	-webkit-box-shadow:  0 1px 1px #a3b5c1;
	box-shadow:  0 1px 1px #a3b5c1;
}

* html .boxbutton a {
	width:100%
}

.boxbutton a:hover {
	-moz-box-shadow: 0 1px 7px #F23183;
	-webkit-box-shadow:  0 1px 7px #F23183;
	box-shadow:  0 1px 7px #F23183;
}

.question-box {
	width:700px;
	border:2px solid #fff;
	background-color:#f5fbff;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	-moz-box-shadow: 0 1px 1px #a3b5c1;
	-webkit-box-shadow:  0 1px 1px #a3b5c1;
	box-shadow:  0 1px 1px #a3b5c1;	
}



    
    		
/* Last Update 2.7.09 */