/**********************************************************************//**\file
	SexInfo Admin Panel

	Description: Admin panel css stylesheet
*******************************************************************************/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 82.5%;
	background: #aaa;
	color: #000;
	margin: 0px;
	padding: 0px;
}

/*******************************************************************************
	General HTML Tags
*******************************************************************************/

a:link {
	color: #468;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.volatile {
	color: #A22;
}

img {
}

p {
	
}

h1, h2, h3, h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

/*******************************************************************************
	Tables
*******************************************************************************/

table {
	background-color: #f6f6f6;
	border: 1px solid #aaa;
	border-collapse: collapse;
	width: 100%;
}

/*tr:hover {
	background-color: #BBDBFA;
}*/

th, td {
	border-right: 1px solid #aaa;
	padding: 2px 10px;
}

th {
	border-bottom: 1px solid #aaa;
	background-color: #ddd;
}

td a {
	display: block;
	width: 100%;
	margin: -2px -10px;
	padding: 2px 10px;
}

.clear {
	clear: both;
}

table.form {
	width: auto;
	border: 0 none;
	background: none;
}

table.form th, table.form td {
	border: 0 none;
}

/*******************************************************************************
	General Layout
*******************************************************************************/

#wrapper {
	width: 980px;
	margin: auto;
	padding: 0px;
}

#banner {
	font-size: 2em;
	background-color: #68a;
	color: #fff;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-bottom: 2px solid #666;
}

#footer {
	padding-top: 20px;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}

#content {
	margin: 0px;
	background: #fff;
	padding: 20px;
	font-family: Verdana, Arial, sans-serif;
	min-height: 500px;
}

#user-information
{
	text-align: right;
}

/*******************************************************************************
	Navigation
*******************************************************************************/

#nav ul {
	margin: 0px;
	padding: 0px;
}

#nav #basic ul {
	margin: 20px 20px 3px 0px;
}

#nav #basic ul li {
	display: inline;
	margin-right: .3em;
}

#nav #basic ul li a {
	background: #ccc;
	padding: 3px 6px;
	font-weight: bold;
	text-decoration: none;
	color: #468;
}

#nav #basic ul li a.current {
	background-color: #fff;
}

#nav #basic ul li a:hover {
	background: #eee;
}

#nav #login {
	position: absolute;
	left: 50%;
	margin-left: 330px;
	top: 68px;
	text-align: right;
	width: 160px;
}

#nav #login li {
	display: inline;
}

#nav #login li a {
	padding: 2px 4px;
	background: #fd8;
	text-decoration: none;
}

#nav #login li a:hover {
	background: #fea;
}

/*******************************************************************************
	Forms & Etc.
*******************************************************************************/

.error {
	color: #e00;
}

.notice, .warning {
	padding: 10px;
	margin-bottom: 1em;
}

.notice h3, .warning h3{
	margin: 0 0 .5em 0;
}

.notice {
	background-color: #afa;
	border: 1px solid #4d4;
}

.warning {
	background-color: #faa;
	border: 1px solid #d44;
}

/*******************************************************************************
	Incoming Questions Page
*******************************************************************************/

h1 span.date {
	display: none;
}

.question table {
	margin: 0px;
	border-collapse:collapse;
	background-color: #fafafa;
	margin-bottom: 2em;
}

.question table, .question td {
	border: 1px solid #888;
}

/*.question.alt table {
	background-color: #eee;
}*/

/* .question td.reply {
	background-color: #dfd;
}

.question td.noreply {
	background-color: #fdd;
} */

.question .body {
	padding: 10px;
}

/*.question tr:hover {
	background-color: transparent;
}*/

.meta {
	background-color: #e5e2df;
}

/*******************************************************************************
	Content Editor
*******************************************************************************/

#content-editor {
	background-color: #eee;
	padding: 10px;
	width: 700px;
	float: left;
}

#content-editor textarea {
	width: 100%;
}

#placement-editor {
	padding: 10px;
	background-color: #ddd;
}

#placement-editor h2 {
	font-size: 1.2em;
	margin: 0 0 .5em 0;
}

#content_images h3 {
	margin-top: 0;
}

#content_images {
	width: 190px;
	float: right;
	background-color: #eee;
	padding: 10px;
}

#content_uploaded_images {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 592px;
	overflow: auto;
}

#content_uploaded_images img {
	width: 170px;
	padding: 0;
	margin: 0;
}

/*******************************************************************************
	Logs
*******************************************************************************/

table#log, #log td {
	border-color: #aaa;
}

#log .head {
	font-weight: bold;
}

#log .error {
	color: #000;
}

#log span.error {
	color: #00f;/*font-weight: bold;
	font-family: Helvetica, Verdana, sans-serif;*/
}

#log td.error {
	border-bottom: 1px solid #aaa;
}

#log div.error {
	white-space: pre;
	display: block;
	overflow: auto;
	width: 885px;
	max-height: 300px;
	border: 1px solid #aaa;
	margin-bottom: 10px;
	background-color: #444;
	background-color: #fefefa;
	font-family: "Courier New", system;
	color: #eee;
	color: #000;
	padding: 0 1em 1em 1em;
}

/*******************************************************************************
	Categories
*******************************************************************************/

.hidden {
	display: none;
}

.highlight {
	background-color: #FF8;
}

.message {
	background-color: #AFA;
	text-align: center;
}

/*******************************************************************************
	Search
*******************************************************************************/

#search-line, #search p.tips {
	width: 30em;
	margin: auto;
}

#search-line
{
	margin-bottom: 1em;
}

#search-field {
	width: 24em;
}

#search table {
	width: 100%;
}

#search col.id {
	width: 4em;
}

#search col.view, #search col.edit {
	width: 4em;
}

#search col.type {
	width: 13em;
}

/*******************************************************************************
	Toolbox / Tools Page
*******************************************************************************/

ul#toolbox, #toolbox li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#toolbox {
	padding-left: 17px;
}

ul#toolbox li {
	width: 260px;
	padding: 10px;
	height: 120px;
	float: left;
	border: 1px solid #aaa;
	margin: 10px;
	background-color: #eee;
}

ul#toolbox h2 {
	margin: 0;
	padding: 0;
}

ul#toolbox li:hover {
	background-color: #BBDBFA;
}

ul#toolbox a img {
	border: 0;
	position: absolute;
	float: left;
	margin: -10px 0 0 -10px;
	width: 280px;
	height: 140px;
}

/*******************************************************************************
	User Manager
*******************************************************************************/

#add-user table {
	width: auto;
}

#add-user td {
	border: 0;
}

#add-user table input {
	width: 20em;
}

#add-user option {
	width: 18em;
}

/*******************************************************************************
	Image Uploader
*******************************************************************************/

#uploaded_images {
	padding-left: 0;
}

#uploaded_images li{
	display: block;
	float: left;
	width: 160px;
	height: 160px;
	padding: 4px;
	border: 1px solid #aaa;
	margin: 6px;
	background: url(image-upload-bg.png);
}

#uploaded_images a{
	
	display: block;
	height: 100%;
}

#uploaded_images a img{
	max-width: 154px;
	max-height: 154px;
	display: block;
	border: 0 none;
	margin: auto;
}

#upload_error {
	border: 1px solid #f00;
	background: #faa;
	padding: 10px;
}