.taxonomy-tooltip {
  display: none;
  transition: all 0.5s ease-in-out;
  background-color: whitesmoke;
  padding: 6px 8px 6px 8px;
  border-radius: 3px;
  border: 2px solid black;
  max-width: 400px;
}

.taxonomy-tooltip p {
    margin: 0px;
}

.taxonomy-tooltip-element {
  font-style: italic;
  border-bottom: 1px dotted #000;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px dotted #000000;
}

.taxonomy-tooltip-element:hover {
  background-color: #cccccc;
}
